.options-container {
  margin-top: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.options-select {
  margin-right: 2rem;
}

.results-label{
  font-size: var(--text-xs);
  color: color-mix(in srgb, var(--nord-3) 70%, var(--nord-4) 30%);
}
