.options-container {
  margin-top: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options-input {
  display: flex;
  align-items: center;
  gap: 0.375rem;
}

.results-label {
  font-size: var(--text-sm);
}
