.search-container {
  display: flex;
  width: 100%;
}

.search-input {
  width: 100%;
  border-radius: var(--rounded);
}

.search-outer {
  flex-grow: 1;
  margin-right: 0.25rem;
}

.filters-wrap {
  padding-inline: 0.75rem;
}

.filters-container > * + * {
  margin-top: 0.375rem;
}

.filters-container {
  border-top: 1px solid var(--nord-1);
  border-bottom: 1px solid var(--nord-1);
  padding-block: 0.375rem;
  margin-top: 0.75rem;
}
