.control-label {
  font-size: var(--text-sm);
  margin-bottom: 0.125rem;
}

.control-row {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.control-input {
  flex: 1 1 100%;
}

.control-toggle {
  flex: 0 0 auto;
}

.menu {
  width: 100%;
  max-width: min(20rem, 50dvw);
  background: var(--nord-point-five);
  color: var(--nord-5);
  padding: 0.25rem;
  border: 1px solid var(--nord-0);
  border-radius: var(--rounded);
  box-shadow: var(--shadow-sm);
  font-family: var(--font-family-ui);
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.menu-viewport {
  display: grid;
  grid-template-rows: min-content;
  min-height: min(calc(var(--viewport-item-count) * 3rem), 15rem);
  max-height: min(50dvh, 15rem);
  overflow-y: auto;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  height: 3rem;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  cursor: pointer;
  position: relative;
  font-size: var(--text-sm);

  &.active {
    background-color: var(--nord-1);
    color: var(--nord-5);
  }
}

.menu-item-check {
  position: absolute;
  left: 0.5rem;
  top: calc(50%);
  transform: translateY(-50%);
}

.results {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  flex-flow: row wrap;
  width: 100%;
  list-style: none;
  margin: 0.25rem 0 0;
  padding: 0;
}
