.tooltip {
  box-shadow: var(--shadow-lg);

  & > *:only-child {
    border-radius: var(--rounded-md);
  }

  & > *:not(:only-child):first-child {
    border-radius: var(--rounded-md) var(--rounded-md) 0 0;
    border-bottom: none;
  }

  & > *:not(:only-child):last-child {
    border-radius: 0 0 var(--rounded-md) var(--rounded-md);
  }

  & > *:not(:only-child):last-child header {
    /* FIXME */
    border-radius: 0;
  }
}
