.list-container {
  display: flex;
  height: 100%;
  flex-flow: column nowrap;
}

.list-nav {
  display: flex;
  flex: 0 0 auto;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  font-family: var(--font-family-ui);
  align-items: center;
  justify-content: space-between;
}

.list-scroller {
  flex: 1 1 auto;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;

  &:focus {
    border-top: 1px solid var(--nord-3);
    border-bottom: 1px solid var(--nord-3);
  }
}
