/* TODO: clean this up with a variant / props. */
.tooltip {
  box-shadow: var(--shadow-lg);

  & > div > *:only-child {
    border-radius: var(--rounded-md);
  }

  & > div > *:not(:only-child):first-child {
    border-radius: var(--rounded-md) var(--rounded-md) 0 0;
    border-bottom: none;
  }

  & > div > *:not(:only-child):last-child {
    border-radius: 0 0 var(--rounded-md) var(--rounded-md);
  }

  & > div > *:not(:only-child):last-child header {
    border-radius: 0;
  }
}
