.group {
  content-visibility: auto;
}

.group + .group {
  margin-top: 1rem;
}

.group > * + * {
  margin-top: 1rem;
}

.group-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: auto;
  gap: 1rem;
  align-items: start;
}
