.scroller {
  flex: 1 1 auto;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.group {
  position: relative;
  padding-top: 1rem;
}

.group > * + * {
  margin-top: 1rem;
}

.group-header {
  position: sticky;
  top: 0;
  z-index: 3;
}

.group-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  grid-template-rows: auto;
  gap: 0.75rem;
  align-items: start;
}

.group-item {
  position: relative;
  width: 100%;
}

.group-item-scan {
  display: block;
  width: 100%;
  background: transparent;
  box-shadow: var(--shadow-md);
}

.group-item-actions {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}
