.actions {
  border-radius: var(--rounded);
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  gap: 0.125rem;
  width: 100%;
}

.actions > * {
  border-radius: var(--rounded);
  background: rgba(0, 0, 0, 0.55);
  color: var(--nord-4);
  padding: 0.125rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

[data-component="card-group-item"]:hover .actions > * {
  background: rgba(0, 0, 0, 0.65);
}

.actions-extras {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.25rem;
}
