.container {
  padding: 1px;
  position: relative;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.375rem;
}

.row > * {
  flex: 0 0 auto;
}

.row > .field {
  flex: 1 1 auto;
  width: 100%;
}

.field-input {
  width: 100%;
}

.flags {
  background: var(--palette-1);
  border-radius: var(--rounded);
  display: flex;
  flex-flow: row wrap;
  flex: 0 0 auto;
  gap: 0.5rem;
  left: 0;
  padding: 0.5rem 0.375rem;
  position: absolute;
  top: 100%;
  transform-origin: top;
  transform: scaleY(0%);
  transition-behavior: allow-discrete;
  transition: 0.125s transform ease-in, 0.125s visibility;
  visibility: hidden;
  width: 100%;
  z-index: 2;
}

.container:hover .flags,
.container:focus-within .flags {
  visibility: visible;
  transform: scaleY(100%);
}

@media screen and (min-height: 50rem) {
  .container:not(.force-hover) .flags {
    background: inherit;
    position: initial;
    visibility: visible;
    transform: none;
    top: unset;
    left: unset;
  }

  .container:not(.force-hover) .flags-slot {
    display: none;
  }
}

@starting-style {
  .flags {
    transform: scaleY(0%);
  }
}
