.actions {
  border-radius: var(--rounded);
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  gap: 0.125rem;
  width: 100%;
  text-shadow: none;
}

.actions > * {
  border-radius: var(--rounded);
  background: var(--palette-0);
  color: var(--text);
  padding: 0.125rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  opacity: 0.85;
}

[data-component="card-group-item"]:hover .actions > * {
  opacity: 1;
}

.actions-row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 0.0625rem;
}
