.container {
  padding: 1px;
}

.container > * + * {
  margin-top: 0.75rem;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.375rem;
}

.row > * {
  flex: 0 0 auto;
}

.row > .field {
  flex: 1 1 auto;
  width: 100%;
}

.field-input {
  width: 100%;
}

.flags {
  flex: 0 0 auto;
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
}
