.container {
  padding: 1px;

  & > * + * {
    margin-top: 0.75rem;
  }
}

.row {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  gap: 0.25rem;
}

.field {
  width: 100%;
}

.field-input {
  width: 100%;
  border-radius: var(--rounded-lg);
}

.flags {
  flex: 0 0 auto;
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
}
