.container {
  padding: 1px;
  position: relative;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.375rem;
}

.row > * {
  flex: 0 0 auto;
}

.row > .field {
  flex: 1 1 auto;
  width: 100%;
}

.field-input {
  width: 100%;
}

.flags {
  flex: 0 0 auto;
  flex-flow: row wrap;
  gap: 0.5rem;
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--palette-1);
  width: 100%;
  padding: 0.625rem 0.375rem;
  border-radius: var(--rounded);
  transform: scaleY(0%);
  transform-origin: top;
  transition: 0.125s transform ease-in, 0.125s visibility;
  transition-behavior: allow-discrete;
  display: flex;
  visibility: hidden;
  z-index: 2;
}

.container:focus-within .flags {
  visibility: visible;
  transform: scaleY(100%);
}

@starting-style {
  .flags {
    transform: scaleY(0%);
  }
}
