.grouphead {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: var(--gray-850);
  color: var(--gray-200);
  padding: 0.5rem;
  height: 3rem; /* icon height + padding */
}

.grouphead {
  font-size: 2rem;
}

.grouphead h3 {
  font-size: 1.25rem;
}
