.grouphead {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: var(--nord-1);
  padding: 0.25rem 1rem;
  height: 2.5rem; /* icon height + padding */
}

.grouphead {
  font-size: var(--icon-lg);
}

.grouphead h3 {
  font-size: var(--text-base);
}
