.grouphead {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  background: var(--nord-point-five);
  padding: 0.25rem 0.375rem;
  height: 2.5rem; /* icon height + padding */
  font-size: var(--text-sm);
  font-family: var(--font-family-ui);

  & > *:not(.icon):not(:last-child)::after {
    content: "·";
    padding-left: 0.375rem;
    color: var(--nord-3);
  }
}

.grouphead .icon {
  font-size: var(--icon-base);
}
