.listcard {
  --card-padding-y: 0.5rem;
  --card-image-height: 3rem;

  min-height: calc(var(--card-image-height) + 2 * var(--card-padding-y));
  padding-inline: 0.375rem;
  padding-top: var(--card-padding-y);
  padding-bottom: var(--card-padding-y);
  list-style: none;
}

.listcard + .listcard {
  border-top: 1px solid var(--nord-1);
}

.listcard-inner {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  position: relative;
  z-index: 0;
  padding-right: 0.25rem;
  height: max-content;
  width: max-content;
}

.listcard-name {
  font-size: var(--text-base);
  font-family: var(--font-family-content);

  & a {
    text-decoration: none;
    color: currentColor;

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
      text-decoration-color: currentColor;
    }
  }
}

.listcard.forbidden {
  filter: grayscale(1);

  & .listcard-name {
    text-decoration: line-through;
  }

  & .listcard-meta {
    color: var(--nord-3);
  }
}

.listcard-icon {
  flex: 0 0 auto;
  font-size: var(--icon-2xl);
}

.listcard-meta {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  line-height: 1;
  gap: 0.25rem;
  margin-top: 0.125rem;
  font-size: var(--text-sm);
}

.listcard-subname {
  font-family: var(--font-family-content);
  font-weight: 400;
  font-style: italic;
  font-size: var(--text-sm);
}

.listcard-taboo {
  display: inline-flex;
  align-items: center;
  gap: 0.125rem;
  font-size: var(--text-xs);
}

.listcard-thumbnail {
  width: var(--card-image-height);
}

.listcard-quantity {
  font-size: var(--text-xs);
  font-family: var(--font-family-ui);
  line-height: 1;
  border-radius: var(--rounded);
}

.listcard.sm {
  --card-padding-y: 0.25rem;
  --card-image-height: 1.625rem;

  & .listcard-name {
    font-size: var(--text-sm);
  }

  & .listcard-subname {
    font-size: var(--text-xs);
  }

  & .listcard-meta {
    font-size: var(--text-xs);
  }

  & .listcard-icon {
    font-size: var(--icon-lg);
  }
}

.listcard.xs {
  --card-padding-y: 0.25rem;
  --card-image-height: 1.75rem;

  min-height: auto;

  & .listcard-name {
    font-size: var(--text-sm);
  }

  & .listcard-thumbnail {
    display: none;
  }

  & .listcard-inner {
    gap: 0.5rem;
  }

  & .listcard-meta {
    display: none;
  }

  & .listcard-meta {
    margin-top: 1px;
    font-size: var(--text-xs);
  }

  & .listcard-icon {
    font-size: var(--icon-md);
  }
}
