.listcard {
  --card-spacing-y: 0.5rem;
  --card-spacing-x: 0.375rem;
  --card-image-height: 2rem;

  list-style: none;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: var(--card-spacing-x);
  min-height: calc(var(--card-image-height) + 2 * var(--card-spacing-y));
  padding: var(--card-spacing-y) 0.25rem;
}

.listcard.borders {
  border-bottom: 1px solid var(--nord-1);
}

.listcard.active {
  outline: 1px solid var(--nord-6);
  outline-offset: -1px;
}

.listcard-main {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  gap: var(--card-spacing-x);
}

.content {
  display: flex;
  align-items: center;
  gap: var(--card-spacing-x);
  position: relative;
  z-index: 0;
  padding-right: var(--card-spacing-x);
  height: max-content;
  width: min(max-content, 100%);
}

.caption {
  flex: 1 1 auto;
}

.name-container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.name * {
  background: none;
  font-size: var(--text-base);
  font-family: var(--font-family-content);
  font-weight: 700;
  line-height: 1;
  text-align: left;
  text-decoration: none;
  color: currentColor;

  &:hover,
  &:focus-visible,
  &:active {
    outline: none;
    background: none;
    text-decoration: underline;
    text-decoration-color: currentColor;
  }
}

.icon {
  flex: 0 0 auto;
  font-size: var(--icon-xl);
}

.meta {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  line-height: 1;
  gap: var(--card-spacing-x);
  margin-top: 0.125rem;
  font-size: var(--text-xs);
}

.subname {
  font-family: var(--font-family-content);
  font-weight: 400;
  font-style: italic;
  font-size: var(--text-sm);
}

.taboo {
  display: inline-flex;
  align-items: center;
  gap: 0.125rem;
  font-size: var(--text-xs);
}

.thumbnail {
  width: var(--card-image-height);
}

.investigator-health {
  --card-text-size: var(--text-xs);
  align-self: end;
}

.investigator-skills {
  --card-text-size: var(--text-sm);
  gap: var(--card-spacing-x);
  margin-top: 0.125rem;
}

.investigator-skill {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  background: var(--nord-1);
  border-radius: var(--rounded-md);
}

.ownership {
  color: var(--nord-4);
  font-weight: 700;
}

.ignored svg {
  stroke: var(--nord-7);
  fill: var(--nord-7);
}

/**
 * Variants
 */

.listcard.forbidden {
  filter: grayscale(1);
}

.listcard.forbidden .name button:not(:hover) {
  text-decoration: line-through;
}

.listcard.removed {
  opacity: 0.3;
}

.listcard.sm {
  --card-spacing-y: 0.375rem;
  --card-spacing-x: 0.375rem;
  padding-inline: none;
}

.listcard.investigator {
  --card-spacing-y: 0.375rem;
  --card-spacing-x: 0.5rem;
  --card-image-height: 2.5rem;
  padding-inline: 0.25rem;
}
