.cards {
  container-type: inline-size;
  max-width: 54rem;
  margin-inline: auto;

  & > * + * {
    margin-top: 1rem;
  }
}

.editor {
  padding: 0.5rem;

  & > * + * {
    margin-top: 0.5rem;
  }
}

.editor-nav {
  padding: 0.25rem;
}

.card-selections {
  & > * + * {
    margin-top: 0.5rem;
  }
}
