.layout {
  --sidebar-width: 20rem;
  --selections-width: 24rem;

  display: grid;

  min-height: 100dvh;
  row-gap: 0.5rem;
  column-gap: 1rem;
  margin-inline: auto;
  max-width: var(--layout-max-width);
  padding-inline: var(--layout-padding);
  padding-bottom: 0.5rem;

  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;

  grid-template-areas:
    "header"
    "sidebar"
    "content"
    "selections"
    "footer";

  @media screen and (min-width: 45rem) {
    grid-template-areas:
      "header header"
      "sidebar content"
      "sidebar selections"
      "footer footer";

    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-rows: auto max-content max-content auto;
  }

  @media screen and (min-width: 75rem) {
    grid-template-areas:
      "header header header"
      "sidebar content selections"
      "footer footer footer";

    grid-template-columns: var(--sidebar-width) 1fr var(--selections-width);
    grid-template-rows: auto 1fr auto;
  }
}

.layout-header {
  grid-area: header;
}

.layout-sidebar {
  grid-area: sidebar;
  border: 1px solid var(--nord-1);
  border-radius: var(--rounded-md);
  overflow-y: auto;
  height: 100%;
}

.layout-content {
  grid-area: content;
  overflow-y: auto;
}

.layout-selections {
  grid-area: selections;
  overflow-y: auto;
  height: 100%;
}

.layout-footer {
  grid-area: footer;
}

.cards {
  container-type: inline-size;
  max-width: 54rem;
  margin-inline: auto;

  & > * + * {
    margin-top: 1rem;
  }
}

.editor {
  padding: 0.5rem;

  & > * + * {
    margin-top: 0.5rem;
  }
}

.editor-nav {
  padding: 0.25rem;
  display: flex;
  gap: 0.5rem;
}

.card-selections {
  & > * + * {
    margin-top: 0.5rem;
  }
}
