.card-recommender {
  animation: fadeIn 0.5s;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  min-height: 0;
}

.recommender-header {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-family-ui);
}

.recommender-header span {
  font-size: var(--text-sm);
  color: var(--color-text-secondary);
}

.scroller {
  flex: 1 1 auto;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.recommendation-bar-container {
  width: calc(100% - 4em);
  display: inline-block;
}

.recommendation-bar {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.375rem;
  width: 100%;
  align-items: center;
  animation: 0.2s grow forwards;
  transform-origin: left;
}

.recommendation-bar::before {
  content: "";
  height: 10px;
  background: currentColor;
  width: var(--width);
  border-radius: var(--rounded-lg);
}

@keyframes grow {
  0% {
    transform: scaleX(0%);
  }

  100% {
    transform: scaleX(100%);
  }
}

.container {
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  flex: 1 1 auto;
  container-type: inline-size;
}

.toolbar {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.375rem;
  font-family: var(--font-family-ui);
}

.toggle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
  padding-bottom: 0.125rem;
}

.footer {
  flex: 0 0 auto;

  @media screen and (max-width: 52rem) {
    display: none;
  }
}

.toolbar .date-range-selector div .date-range-output {
  min-width: calc(7ch + 0.5rem);

  &:first-child {
    margin-left: 0rem;
  }
  &:last-child {
    margin-right: 0rem;
  }
}

.toggle-decks-count {
  display: none;
  @media screen and (min-width: 36rem) {
    display: inline-flex;
    gap: 0.25rem;
    align-items: center;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.core-card-checkbox {
  margin-top: 0.125rem;
  padding: 0.125rem;
  background: var(--palette-point-five);
  border: 1px solid var(--palette-1);
  border-radius: var(--rounded);
}

.core-card-checkbox button {
  margin-left: 0.125rem;
}

.core-card-checkbox label {
  font-size: var(--text-xs);
}

.include-side-deck-filter {
  padding: 0.25rem;
  background: var(--palette-point-five);
  border: 1px solid var(--palette-1);
  border-radius: var(--rounded);
}

.loader-container {
  position: relative;
  height: 100%;
}

.no-result-image {
  max-width: 30rem;
}
