.container > * + * {
  margin-top: 1rem;
}

.container ol {
  list-style: none;
}

.entries > * + * {
  margin-top: 1rem;
}

.entry {
  padding: 1rem;
  border-radius: var(--rounded);
  border: 1px solid var(--nord-1);
}

.entry > * + * {
  margin-top: 1rem;
}

.entry-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.entry-row > * + * {
  margin-top: 1rem;
}

.diffs > * + * {
  margin-top: 0.25rem;
}

.diffs-container > * + * {
  margin-top: 0.75rem;
}

.diff {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.diff-quantity {
  font-weight: 700;
  border-radius: var(--rounded);
  border: 1px solid var(--nord-1);
  padding: 0.125rem 0.25rem;
  font-size: var(--text-xs);
}

.diff-quantity.positive {
  color: var(--nord-14);
  border-color: var(--nord-14);
}

.diff-quantity.negative {
  color: var(--nord-11);
  border-color: var(--nord-11);
}

.diff-customizations {
  padding-inline: 0.25rem;
}
