.main {
  column-gap: 1.5rem;
  row-gap: 0.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content min-content;
  grid-template-areas:
    "header"
    "sidebar"
    "decklist";

  padding-bottom: 1rem;

  @media screen and (min-width: 52rem) {
    grid-template-columns: 24rem 1fr;
    grid-template-areas:
      "sidebar header"
      "sidebar decklist";
    grid-template-rows: min-content 1fr;
  }
}

.sidebar {
  grid-area: sidebar;
}

.header {
  grid-area: header;
}

.header > * + * {
  margin-top: 0.5rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.content {
  grid-area: decklist;
  padding: 0.375rem;
}

.content > * + * {
  margin-top: 1rem;
}

.tab {
  padding: 0.5rem 0;
}

.floating {
  position: fixed;
  right: 2rem;
  bottom: 1rem;
  z-index: 2;
}

.floating-element {
  border-radius: var(--rounded-xl);
  box-shadow: var(--shadow);
}
