.container {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  padding-right: 0.125rem;
}

.actions {
  display: flex;
  gap: 0.5rem;
}

.details {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  gap: 1rem;
  list-style: none;
}

.detail {
  flex: 1 1 calc(33.333% - 1rem);
}

.detail.full {
  flex: 0 0 100%;
  width: 100%;
}

.detail-label {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: var(--text-sm);
  font-family: var(--font-family-ui);
  border-bottom: 1px solid var(--palette-1);
  padding: 0.25rem 0;
  font-weight: 700;
}

.detail-label svg {
  font-size: var(--icon-sm);
}

.detail-value {
  display: flex;
  flex-flow: column nowrap;
  align-items: baseline;
  padding: 0.375rem 0;
  font-size: var(--text-base);
  gap: 0.25rem;
}

.detail-faction {
  display: inline-flex;
  align-items: baseline;
  gap: 0.25rem;
}

.share-empty > * + * {
  margin-top: 0.75rem;
}

.share > * + * {
  margin-top: 0.75rem;
}

.share-actions {
  display: flex;
  gap: 0.5rem;
}

.share-copy {
  display: inline-flex;
  vertical-align: middle;
  margin-left: 2px;
}
