.editor {
  padding: 0.25rem;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.editor > * {
  flex: 0 0 auto;
}

.editor > .editor-tabs {
  flex: 1 1 auto;
}

.editor > * + * {
  margin-top: 0.375rem;
}

.editor-header {
  display: flex;
  padding: 0.5rem 0.375rem;
  gap: 0.25rem;
  align-items: baseline;
  align-items: last baseline;
  justify-content: space-between;
  border-radius: var(--rounded);
}

.editor-header > * {
  flex: 0 0 auto;
}

.editor-header > .editor-title {
  flex: 1 1 auto;
  font-size: var(--text-sm);
  min-height: var(--text-sm);
}

.editor-tabs {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  min-height: 0;
}

.editor-tabs > * {
  flex: 0 0 auto;
}

.editor-tabs > .editor-tabs-content {
  flex: 1 1 auto;
}

.editor-tabs > * + * {
  margin-top: 0.375rem;
}

.editor-placeholder {
  text-align: center;
  padding: 1rem;
}

.actions {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.25rem 0.5rem 0;
  border-top: 1px solid var(--palette-1);
}
