.editor {
  padding: 0.25rem;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.editor > * {
  flex: 0 0 auto;
}

.editor > .editor-tabs {
  flex: 1 1 auto;
}

.editor > * + * {
  margin-top: 0.375rem;
}

.editor-tabs {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  min-height: 0;
}

.editor-tabs > * {
  flex: 0 0 auto;
}

.editor-tabs > .editor-tabs-content {
  flex: 1 1 auto;
}

.editor-tabs > * + * {
  margin-top: 0.375rem;
}

.editor-placeholder {
  text-align: center;
  padding: 1rem;
}

.actions {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.25rem 0.5rem 0;
  border-top: 1px solid var(--nord-1);
}

.actions-upgrade {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
  border-top: 1px solid var(--nord-1);
  padding: 0.375rem 0.5rem 0;
}

.actions-upgrade-row {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.actions-upgrade-row svg {
  stroke: var(--nord-1);
  fill: currentColor;
}

.actions-upgrade-quantity {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.exile {
  background: var(--nord-point-five);
  box-shadow: var(--shadow-md);
  border-radius: var(--rounded-md);
  width: 20rem;
  padding: 1rem;
}
