.listcard-action {
  margin-right: 1rem;
}

.traits {
  font-family: var(--font-family-content);
  font-style: italic;
  font-size: var(--text-sm);
  font-weight: 700;
}

.signatures {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  gap: 0.25rem;
  list-style: none;
  font-family: var(--font-family-content);
}

.signature button {
  text-decoration: none;
  background-color: var(--palette-point-five);
  color: var(--text);
  padding: 0.125rem 0.25rem;
  font-size: var(--text-sm);
  border-radius: var(--rounded);
}

.choose-investigator-button {
  margin-right: 0.375rem;
}
