.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  height: 100%;
  width: 100%;
  flex: 1 1 auto;
  gap: 1rem;
  padding: 0.5rem;
}

.error-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.error-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
}

.error-status {
  padding-right: 0.75rem;
  border-right: 1px solid var(--palette-3);
  font-size: var(--text-2xl);
}

.error-message {
  font-size: var(--text-lg);
  font-weight: 400;
}
