.container {
  display: flex;
  gap: 1rem;
  align-items: stretch;
  flex-flow: column nowrap;

  @media screen and (min-width: 32rem) {
    flex-flow: row nowrap;
  }
}

.quantities {
  order: -1;

  display: flex;
  align-items: flex-start;
  gap: 1rem;
  flex-flow: row wrap;

  @media screen and (min-width: 32rem) {
    order: 2;
    flex-flow: column nowrap;
  }
}

.quantity {
  background: var(--nord-point-five);
  border: 1px solid var(--nord-1);
  padding: 0.5rem;
  border-radius: var(--rounded);
  box-shadow: var(--shadow);
  text-align: center;
  min-width: 8rem;

  & h3 {
    font-size: var(--text-md);
  }
}

.quantity > * + * {
  margin-top: 0.5rem;
}

.related {
  margin-top: 0.5rem;

  > * + * {
    margin-top: 0.5rem;
  }
}
