.cardmodal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  align-items: start;
  width: 100%;
  z-index: 2;
  overflow: auto;
  padding: 1rem;
}

.cardmodal-inner {
  width: 100%;
  max-width: 45rem;
  container-type: inline-size;
  margin-inline: auto;
}

.cardmodal-actions {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.cardmodal-row {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  flex-flow: column nowrap;

  @media screen and (min-width: 32rem) {
    flex-flow: row nowrap;
  }
}

.cardmodal-quantities {
  order: -1;

  display: flex;
  align-items: flex-start;
  gap: 1rem;
  flex-flow: row wrap;

  @media screen and (min-width: 32rem) {
    order: 2;
    flex-flow: column nowrap;
  }
}

.cardmodal-quantity {
  background: var(--nord-1);
  padding: 0.5rem;
  border-radius: var(--rounded);
  box-shadow: var(--shadow);
  text-align: center;
  min-width: 6rem;
}

.cardmodal-quantity > * + * {
  margin-top: 0.5rem;
}
