.decklist-container > * + * {
  margin-top: 1rem;
}

.decklist-title {
  font-size: var(--text-2xl);
}

.decklist {
  display: flex;
  flex-flow: row wrap;
  container-type: inline-size;
  gap: 0.75rem;
}

.decklist-row {
  display: flex;
  flex-flow: row wrap;
  gap: 0.75rem;
  width: 100%;
}

.decklist-row > * {
  flex: 0 0 calc(50% - 0.75rem);
}

.decklist-row > * > * + * {
  margin-top: 0.5rem;
}

.decklist-validation {
  background: color-mix(in srgb, var(--nord-11) 10%, var(--nord-0) 90%);
  padding: 0.5rem;
  border: 1px solid var(--nord-11);
  border-radius: 0.25rem;
  font-size: var(--text-sm);
}

.decklist-validation > * + * {
  margin-top: 0.25rem;
}

.decklist-validation-text {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  font-weight: 700;
}

.decklist-validation-results {
  margin-left: 2rem;
}

.decklist-validation-result-cards {
  margin-left: 0.5rem;
}
