.decklist-container > * + * {
  margin-top: 1rem;
}

.decklist-title {
  font-size: var(--text-2xl);
}

.decklist {
  display: flex;
  flex-flow: row wrap;
  container-type: inline-size;
  gap: 0.75rem;
}

/* HACK: clean up selectors. */
.decklist-row {
  display: flex;
  flex-flow: row wrap;
  gap: 0.75rem;
  width: 100%;

  & > * {
    flex: 0 0 100%;

    @container (min-width: 45rem) {
      flex: 1 1 calc(50% - 0.75rem);
    }
  }

  & > * > * {
    border: 1px solid var(--nord-1);
    border-radius: var(--rounded-md);
    padding: 0.5rem;
    width: 100%;
  }

  & > * > * + * {
    margin-top: 0.5rem;
  }
}
