.decklist-validation {
  background: color-mix(in srgb, var(--nord-11) 5%, var(--nord-0) 95%);
  padding: 0.25rem;
  border: 1px solid var(--nord-11) !important;
  border-radius: 0.25rem;
  font-size: var(--text-sm);
}

.decklist-validation > * + * {
  margin-top: 0.25rem;
}

.decklist-validation-header {
  display: flex;
  gap: 0.375rem;
}

.decklist-validation-text {
  font-weight: 700;
}

.decklist-validation-results {
  margin-left: 1rem;
}

.decklist-validation-result-cards {
  margin-left: 1rem;
}

.scroller {
  max-height: min(15rem, 50dvh);
}
