.decklist-section {
  flex: 1 1 100%;
}

.decklist-section-title {
  font-size: var(--text-sm);
  margin-bottom: 0.25rem;
}

.decklist-section + .decklist-section {
  margin-top: 0.5rem;
}

.decklist-section-content.auto {
  column-width: 21.5rem;
  column-gap: 0.75rem;
}

.decklist-section-content.auto > * {
  break-inside: avoid;
}
