.decklist-container > * + * {
  margin-top: 1rem;
}

.decklist-title {
  font-size: var(--text-2xl);
}

.decklist {
  display: flex;
  flex-flow: row wrap;
  container-type: inline-size;
  gap: 0.75rem;
}

/* HACK: clean up selectors. */
.decklist-row {
  display: flex;
  flex-flow: row wrap;
  gap: 0.75rem;
  width: 100%;
}

.decklist-row > * {
  flex: 1 1 calc(50% - 0.75rem);

  @container (min-width: 36rem) {
    flex: 0 1 calc(50% - 0.75rem);
  }
}

.decklist-row > * > * {
  border: 1px solid var(--nord-point-five);
  border-radius: var(--rounded-md);
  padding: 0.5rem;
  width: 100%;
}

.decklist-row > * > * + * {
  margin-top: 0.5rem;
}
