.group {
  list-style: none;
}

.group_one-col > .group + .group {
  margin-top: 0.25rem;
}

.group-title {
  display: block;
  font-size: var(--text-xs);
  padding: 0.25rem 0;
  border-bottom: 1px solid var(--nord-point-five);
}

.group_two-cols {
  display: grid;
  grid-template-areas: "asset" "rest";
  grid-template-columns: 1fr;
  gap: 0.25rem;

  @container (min-width: 36rem) {
    grid-template-areas: "asset rest";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}

.group-entries > * + * {
  margin-top: 0.25rem;
}

.group {
  min-height: 2rem;
}

.group-entry_nested-title {
  font-size: var(--text-2xs);
  padding-top: 0.25rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-family: var(--font-family-ui);
  color: var(--nord-4);
  font-weight: 400;
}

.group-children {
  list-style: none;
}
