.attachments {
  list-style: none;
  color: var(--palette-4);
  display: inline-flex;
  gap: 0.125rem;
}

.attachment {
  flex: 0 0 auto;
  line-height: 1;
}

.attachment-quantity {
  color: currentColor
}

.attachment-content {
  display: inline-flex;
  gap: 0.0625rem;
  min-height: 1.125rem;
  font-size: var(--text-xs);
}
