@font-face {
  font-family: "encounters";
  src: url("../assets/fonts/encounters.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="encounters-"],
[class*=" encounters-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  /* biome-ignore lint/a11y/useGenericFontNames: icon font. */
  font-family: "encounters" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.encounters-tdcp:before {
  content: "\e91b";
}
.encounters-fhvp:before {
  content: "\e9b9";
}
.encounters-fhvc:before {
  content: "\e9ba";
}
.encounters-the_first_day:before {
  content: "\e9bb";
}
.encounters-the_second_day:before {
  content: "\e9bc";
}
.encounters-the_final_day:before {
  content: "\e9bd";
}
.encounters-agents_of_the_colour:before {
  content: "\e9be";
}
.encounters-blight:before {
  content: "\e9bf";
}
.encounters-day_of_rain:before {
  content: "\e9c0";
}
.encounters-day_of_rest:before {
  content: "\e9c1";
}
.encounters-day_of_the_feast:before {
  content: "\e9c2";
}
.encounters-fate_of_the_vale:before {
  content: "\e9c3";
}
.encounters-fire:before {
  content: "\e9c4";
}
.encounters-heirlooms:before {
  content: "\e9c5";
}
.encounters-the_lost_sister:before {
  content: "\e9c6";
}
.encounters-myconids:before {
  content: "\e9d4";
}
.encounters-horrors_in_the_rock:before {
  content: "\e9d3";
}
.encounters-mutations:before {
  content: "\e9d2";
}
.encounters-hemlock_house:before {
  content: "\e9d1";
}
.encounters-refractions:before {
  content: "\e9d0";
}
.encounters-residents:before {
  content: "\e9cf";
}
.encounters-the_forest:before {
  content: "\e9ce";
}
.encounters-the_longest_night:before {
  content: "\e9cd";
}
.encounters-the_silent_heath:before {
  content: "\e9cc";
}
.encounters-the_thing_in_the_depths:before {
  content: "\e9cb";
}
.encounters-the_twisted_hollow:before {
  content: "\e9ca";
}
.encounters-the_vale:before {
  content: "\e9c9";
}
.encounters-transfiguration:before {
  content: "\e9c8";
}
.encounters-written_in_rock:before {
  content: "\e9c7";
}
.encounters-tsk:before {
  content: "\e91d";
}
.encounters-tskc:before {
  content: "\e924";
}
.encounters-scarlet_sorcery:before {
  content: "\e927";
}
.encounters-secret_war:before {
  content: "\e928";
}
.encounters-shades_of_sorrow:before {
  content: "\e929";
}
.encounters-shadow_of_a_doubt:before {
  content: "\e92a";
}
.encounters-spatial_anomaly:before {
  content: "\e92b";
}
.encounters-spreading_corruption:before {
  content: "\e92c";
}
.encounters-strange_happenings:before {
  content: "\e92d";
}
.encounters-without_a_trace:before {
  content: "\e92e";
}
.encounters-sanguine_shadows:before {
  content: "\e92f";
}
.encounters-riddles_and_rain:before {
  content: "\e930";
}
.encounters-red_coterie:before {
  content: "\e931";
}
.encounters-outsiders:before {
  content: "\e932";
}
.encounters-on_thin_ice:before {
  content: "\e933";
}
.encounters-mysteries_abound:before {
  content: "\e934";
}
.encounters-globetrotting:before {
  content: "\e93c";
}
.encounters-dogs_of_war:before {
  content: "\e93d";
}
.encounters-dealings_in_the_dark:before {
  content: "\e93e";
}
.encounters-dead_heat:before {
  content: "\e93f";
}
.encounters-dark_veiling:before {
  content: "\e940";
}
.encounters-dancing_mad:before {
  content: "\e941";
}
.encounters-crimson_conspiracy:before {
  content: "\e942";
}
.encounters-congress_of_the_keys:before {
  content: "\e943";
}
.encounters-cleanup_crew:before {
  content: "\e944";
}
.encounters-agents_of_yuggoth:before {
  content: "\e945";
}
.encounters-beyond_the_beyond:before {
  content: "\e946";
}
.encounters-agents_of_the_outside:before {
  content: "\e926";
}
.encounters-alexandria:before {
  content: "\e91e";
}
.encounters-anchorage:before {
  content: "\e91f";
}
.encounters-bermuda:before {
  content: "\e920";
}
.encounters-constantinople:before {
  content: "\e921";
}
.encounters-london:before {
  content: "\e922";
}
.encounters-marrakesh:before {
  content: "\e923";
}
.encounters-moscow:before {
  content: "\e925";
}
.encounters-rio_de_janiero:before {
  content: "\e935";
}
.encounters-san_francisco:before {
  content: "\e936";
}
.encounters-sydney:before {
  content: "\e937";
}
.encounters-tokyo:before {
  content: "\e938";
}
.encounters-stockholm:before {
  content: "\e939";
}
.encounters-lagos:before {
  content: "\e93a";
}
.encounters-shanghai:before {
  content: "\e93b";
}
.encounters-buenos_aires:before {
  content: "\e947";
}
.encounters-kuala_lampur:before {
  content: "\e948";
}
.encounters-havana:before {
  content: "\e949";
}
.encounters-bombay:before {
  content: "\e94a";
}
.encounters-hong_kong:before {
  content: "\e94b";
}
.encounters-kathmandu:before {
  content: "\e94c";
}
.encounters-rome:before {
  content: "\e94d";
}
.encounters-tunguska:before {
  content: "\e94e";
}
.encounters-kabul:before {
  content: "\e94f";
}
.encounters-manokwari:before {
  content: "\e950";
}
.encounters-nairobi:before {
  content: "\e951";
}
.encounters-perth:before {
  content: "\e952";
}
.encounters-quito:before {
  content: "\e953";
}
.encounters-reykjavik:before {
  content: "\e954";
}
.encounters-san_juan:before {
  content: "\e955";
}
.encounters-arkham:before {
  content: "\e956";
}
.encounters-cairo:before {
  content: "\e957";
}
.encounters-monte_carlo:before {
  content: "\e958";
}
.encounters-new_orleans:before {
  content: "\e959";
}
.encounters-venice:before {
  content: "\e95a";
}
.encounters-ybor_city:before {
  content: "\e95b";
}
.encounters-bermuda_2:before {
  content: "\e95c";
}
.encounters-eoe:before {
  content: "\e95d";
}
.encounters-eoe_campaign:before {
  content: "\e95e";
}
.encounters-ice_and_death:before {
  content: "\e95f";
}
.encounters-fatal_mirage:before {
  content: "\e960";
}
.encounters-to_the_forbidden_peaks:before {
  content: "\e961";
}
.encounters-city_of_the_elder_things:before {
  content: "\e962";
}
.encounters-the_heart_of_madness:before {
  content: "\e963";
}
.encounters-agents_of_the_unknown:before {
  content: "\e964";
}
.encounters-creatures_in_the_ice:before {
  content: "\e965";
}
.encounters-deadly_weather:before {
  content: "\e966";
}
.encounters-elder_things:before {
  content: "\e967";
}
.encounters-expedition_team:before {
  content: "\e968";
}
.encounters-hazards_of_antarctica:before {
  content: "\e969";
}
.encounters-left_behind:before {
  content: "\e96a";
}
.encounters-lost_in_the_night:before {
  content: "\e96b";
}
.encounters-memorials_of_the_lost:before {
  content: "\e96c";
}
.encounters-miasma:before {
  content: "\e96d";
}
.encounters-nameless_horrors:before {
  content: "\e96e";
}
.encounters-penguins:before {
  content: "\e96f";
}
.encounters-silence_and_mystery:before {
  content: "\e970";
}
.encounters-sleeping_nightmares:before {
  content: "\e971";
}
.encounters-stirring_in_the_deep:before {
  content: "\e972";
}
.encounters-tekeli_li:before {
  content: "\e973";
}
.encounters-the_crash:before {
  content: "\e974";
}
.encounters-the_great_seal:before {
  content: "\e975";
}
.encounters-shoggoths:before {
  content: "\e976";
}
.encounters-tic:before {
  content: "\41";
}
.encounters-fog_over_innsmouth:before {
  content: "\e977";
}
.encounters-shattered_memories:before {
  content: "\e978";
}
.encounters-syzygy:before {
  content: "\e979";
}
.encounters-malfunction:before {
  content: "\e97a";
}
.encounters-locals:before {
  content: "\e97b";
}
.encounters-agents_of_hydra:before {
  content: "\e97c";
}
.encounters-flooded_caves:before {
  content: "\e97d";
}
.encounters-rising_tide:before {
  content: "\e97e";
}
.encounters-creatures_from_below:before {
  content: "\e97f";
}
.encounters-grotto_of_despair:before {
  content: "\e980";
}
.encounters-disappearance_of_elina_harper:before {
  content: "\e981";
}
.encounters-agents_of_dagon:before {
  content: "\e982";
}
.encounters-in_too_deep:before {
  content: "\e983";
}
.encounters-devil_reef:before {
  content: "\e984";
}
.encounters-horror_in_high_gear:before {
  content: "\e985";
}
.encounters-a_light_in_the_fog:before {
  content: "\e986";
}
.encounters-lair_of_dagon:before {
  content: "\e987";
}
.encounters-into_the_maelstrom:before {
  content: "\e988";
}
.encounters-dream:before {
  content: "\42";
}
.encounters-agents_of_atlach_nacha:before {
  content: "\e989";
}
.encounters-the_search_for_kadath:before {
  content: "\e98a";
}
.encounters-a_thousand_shapes_of_horror:before {
  content: "\e98b";
}
.encounters-dark_side_of_the_moon:before {
  content: "\e98c";
}
.encounters-point_of_no_return:before {
  content: "\e98d";
}
.encounters-where_gods_dwell:before {
  content: "\e98e";
}
.encounters-weaver_of_the_cosmos:before {
  content: "\e98f";
}
.encounters-agents_of_nyarlathotep:before {
  content: "\e990";
}
.encounters-beyond_the_gates_of_sleep:before {
  content: "\e991";
}
.encounters-corsairs:before {
  content: "\e992";
}
.encounters-creatures_of_the_underworld:before {
  content: "\e993";
}
.encounters-dreamers_curse:before {
  content: "\e994";
}
.encounters-dreamlands:before {
  content: "\e995";
}
.encounters-merging_realities:before {
  content: "\e996";
}
.encounters-spiders:before {
  content: "\e997";
}
.encounters-waking_nightmare:before {
  content: "\e998";
}
.encounters-whispers_of_hypnos:before {
  content: "\e999";
}
.encounters-zoogs:before {
  content: "\e99a";
}
.encounters-descent_into_the_pitch:before {
  content: "\e99b";
}
.encounters-terror_of_the_vale:before {
  content: "\e99c";
}
.encounters-the_circle_undone:before {
  content: "\43";
}
.encounters-disappearance_at_the_twilight_estate:before {
  content: "\e99d";
}
.encounters-the_witching_hour:before {
  content: "\e99e";
}
.encounters-at_deaths_doorstep:before {
  content: "\e99f";
}
.encounters-the_secret_name:before {
  content: "\e9a0";
}
.encounters-the_wages_of_sin:before {
  content: "\e9a1";
}
.encounters-for_the_greater_good:before {
  content: "\e9a2";
}
.encounters-union_and_disillusion:before {
  content: "\e9a3";
}
.encounters-in_the_clutches_of_chaos:before {
  content: "\e9a4";
}
.encounters-before_the_black_throne:before {
  content: "\e9a5";
}
.encounters-agents_of_azathoth:before {
  content: "\e9a6";
}
.encounters-anettes_coven:before {
  content: "\e9a7";
}
.encounters-city_of_sins:before {
  content: "\e9a8";
}
.encounters-inexorable_fate:before {
  content: "\e9a9";
}
.encounters-realm_of_death:before {
  content: "\e9aa";
}
.encounters-silver_twilight_lodge:before {
  content: "\e9ab";
}
.encounters-spectral_predators:before {
  content: "\e9ac";
}
.encounters-the_watcher:before {
  content: "\e9ad";
}
.encounters-trapped_spirits:before {
  content: "\e9ae";
}
.encounters-witchcraft:before {
  content: "\e9af";
}
.encounters-secrets_of_the_universe:before {
  content: "\e9b0";
}
.encounters-music_of_the_damned:before {
  content: "\e9b1";
}
.encounters-rttcu:before {
  content: "\44";
}
.encounters-return_to_disappearance_at_the_twilight_estate:before {
  content: "\e9b2";
}
.encounters-return_to_the_witching_hour:before {
  content: "\e9b3";
}
.encounters-return_to_at_deaths_doorstep:before {
  content: "\e9b4";
}
.encounters-return_to_the_secret_name:before {
  content: "\e9b5";
}
.encounters-return_to_the_wages_of_sin:before {
  content: "\e9b6";
}
.encounters-return_to_for_the_greater_good:before {
  content: "\e9b7";
}
.encounters-return_to_union_and_disillusion:before {
  content: "\e9b8";
}
.encounters-return_to_in_the_clutches_of_chaos:before {
  content: "\e9d5";
}
.encounters-return_to_before_the_black_throne:before {
  content: "\e9d6";
}
.encounters-witchwork:before {
  content: "\e9d7";
}
.encounters-unspeakable_fate:before {
  content: "\e9d8";
}
.encounters-threatening_evil:before {
  content: "\e9d9";
}
.encounters-spectral_realm:before {
  content: "\e9da";
}
.encounters-cold_fog:before {
  content: "\e9db";
}
.encounters-city_of_the_damned:before {
  content: "\e9dc";
}
.encounters-bloodthirsty_spirits:before {
  content: "\e9dd";
}
.encounters-the_forgotten_age:before {
  content: "\45";
}
.encounters-the_untamed_wilds:before {
  content: "\e9de";
}
.encounters-the_doom_of_eztli:before {
  content: "\e9df";
}
.encounters-threads_of_fate:before {
  content: "\e9e0";
}
.encounters-the_boundary_beyond:before {
  content: "\e9e1";
}
.encounters-pillars_of_judgement:before {
  content: "\e9e2";
}
.encounters-knyan:before {
  content: "\e9e3";
}
.encounters-heart_of_the_elders:before {
  content: "\e9e4";
}
.encounters-city_of_archives:before {
  content: "\e9e5";
}
.encounters-the_depths_of_yoth:before {
  content: "\e9e6";
}
.encounters-shattered_aeons:before {
  content: "\e9e7";
}
.encounters-turn_back_time:before {
  content: "\e9e8";
}
.encounters-yigs_venom:before {
  content: "\e9e9";
}
.encounters-agents_of_yig:before {
  content: "\e9ea";
}
.encounters-deadly_traps:before {
  content: "\e9eb";
}
.encounters-expedition:before {
  content: "\e9ec";
}
.encounters-forgotten_ruins:before {
  content: "\e9ed";
}
.encounters-guardians_of_time:before {
  content: "\e9ee";
}
.encounters-pnakotic_brotherhood:before {
  content: "\e9ef";
}
.encounters-poison:before {
  content: "\e9f0";
}
.encounters-rainforest:before {
  content: "\e9f1";
}
.encounters-serpents:before {
  content: "\e9f2";
}
.encounters-temporal_flux:before {
  content: "\e9f3";
}
.encounters-return_to_the_forgotten_age:before {
  content: "\46";
}
.encounters-return_to_the_untamed_wilds:before {
  content: "\e9f4";
}
.encounters-return_to_the_doom_of_eztli:before {
  content: "\e9f5";
}
.encounters-return_to_threads_of_fate:before {
  content: "\e9f6";
}
.encounters-return_to_the_boundary_beyond:before {
  content: "\e9f7";
}
.encounters-return_to_pillars_of_judgement:before {
  content: "\e9f8";
}
.encounters-return_to_knyan:before {
  content: "\e9f9";
}
.encounters-return_to_the_heart_of_the_elders:before {
  content: "\e9fa";
}
.encounters-return_to_city_of_archives:before {
  content: "\e9fb";
}
.encounters-return_to_the_depths_of_yoth:before {
  content: "\e9fc";
}
.encounters-return_to_shattered_aeons:before {
  content: "\e9fd";
}
.encounters-return_to_turn_back_time:before {
  content: "\e9fe";
}
.encounters-return_to_the_rainforest:before {
  content: "\e9ff";
}
.encounters-cult_of_pnakotus:before {
  content: "\ea00";
}
.encounters-doomed_expedition:before {
  content: "\ea01";
}
.encounters-temporal_hunters:before {
  content: "\ea02";
}
.encounters-venomous_hate:before {
  content: "\ea03";
}
.encounters-parallel:before {
  content: "\e900";
}
.encounters-gala:before {
  content: "\e901";
}
.encounters-novella:before {
  content: "\ea04";
}
.encounters-blob:before {
  content: "\ea05";
}
.encounters-rougerauo2:before {
  content: "\51";
}
.encounters-the_bayou:before {
  content: "\ea06";
}
.encounters-curse_of_the_rougarou:before {
  content: "\ea07";
}
.encounters-carnevale:before {
  content: "\ea08";
}
.encounters-venice1:before {
  content: "\52";
}
.encounters-lol:before {
  content: "\53";
}
.encounters-in_the_labyrinths_of_lunacy:before {
  content: "\ea09";
}
.encounters-epic_multiplayer:before {
  content: "\ea0a";
}
.encounters-single_group:before {
  content: "\ea0b";
}
.encounters-guardians:before {
  content: "\54";
}
.encounters-abyssal_gifts:before {
  content: "\ea0c";
}
.encounters-abyssal_tribute:before {
  content: "\ea0d";
}
.encounters-brotherhood_of_the_beast:before {
  content: "\ea0e";
}
.encounters-sands_of_egypt:before {
  content: "\ea0f";
}
.encounters-eternal_slumber:before {
  content: "\ea10";
}
.encounters-nights_usurper:before {
  content: "\ea11";
}
.encounters-excelsior:before {
  content: "\55";
}
.encounters-murder_at_the_excelsior_hotel:before {
  content: "\ea12";
}
.encounters-alien_interference:before {
  content: "\ea13";
}
.encounters-dark_rituals:before {
  content: "\ea14";
}
.encounters-excelsior_management:before {
  content: "\ea15";
}
.encounters-sins_of_the_past:before {
  content: "\ea16";
}
.encounters-vile_experiments:before {
  content: "\ea17";
}
.encounters-blob_set:before {
  content: "\56";
}
.encounters-the_blob_that_ate_everything:before {
  content: "\ea18";
}
.encounters-migo:before {
  content: "\ea19";
}
.encounters-read_or_die:before {
  content: "\ea1a";
}
.encounters-all_or_nothing:before {
  content: "\ea1b";
}
.encounters-bad_blood:before {
  content: "\ea1c";
}
.encounters-by_the_book:before {
  content: "\ea1d";
}
.encounters-red_tide_rising:before {
  content: "\ea1e";
}
.encounters-nate:before {
  content: "\4b";
}
.encounters-harvey:before {
  content: "\4d";
}
.encounters-jacqueline:before {
  content: "\4e";
}
.encounters-winifred:before {
  content: "\4f";
}
.encounters-stella:before {
  content: "\50";
}
.encounters-wotog:before {
  content: "\ea1f";
}
.encounters-war_of_the_outer_gods:before {
  content: "\ea20";
}
.encounters-children_of_paradise:before {
  content: "\ea21";
}
.encounters-assimilating_swarm:before {
  content: "\ea22";
}
.encounters-death_of_the_stars:before {
  content: "\ea23";
}
.encounters-barkham_horror:before {
  content: "\ea24";
}
.encounters-meddling:before {
  content: "\ea25";
}
.encounters-roulette:before {
  content: "\ea26";
}
.encounters-fortune_and_folly:before {
  content: "\ea27";
}
.encounters-fortunes_chosen:before {
  content: "\ea28";
}
.encounters-plan_in_shambles:before {
  content: "\ea29";
}
.encounters-mtt:before {
  content: "\ea2a";
}
.encounters-machinations_through_time:before {
  content: "\ea2d";
}
.encounters-laid_to_rest:before {
  content: "\ea2b";
}
.encounters-rop:before {
  content: "\ea2c";
}
.encounters-curtain_call:before {
  content: "\ea2e";
}
.encounters-the_last_king:before {
  content: "\ea2f";
}
.encounters-echoes_of_the_past:before {
  content: "\ea30";
}
.encounters-the_unspeakable_oath:before {
  content: "\ea31";
}
.encounters-a_phantom_of_truth:before {
  content: "\ea32";
}
.encounters-the_pallid_mask:before {
  content: "\ea33";
}
.encounters-black_stars_rise:before {
  content: "\ea34";
}
.encounters-the_flood_below:before {
  content: "\ea35";
}
.encounters-the_vortex_above:before {
  content: "\ea36";
}
.encounters-dim_carcosa:before {
  content: "\ea37";
}
.encounters-byakhee:before {
  content: "\ea38";
}
.encounters-cult_of_the_yellow_sign:before {
  content: "\ea39";
}
.encounters-decay_and_filth:before {
  content: "\ea3a";
}
.encounters-delusions:before {
  content: "\ea3b";
}
.encounters-evil_portents:before {
  content: "\ea3c";
}
.encounters-hasturs_gift:before {
  content: "\ea3d";
}
.encounters-hauntings:before {
  content: "\ea3e";
}
.encounters-inhabitants_of_carcosa:before {
  content: "\ea3f";
}
.encounters-the_stranger:before {
  content: "\ea40";
}
.encounters-delusory_evils:before {
  content: "\ea49";
}
.encounters-neurotic_fear:before {
  content: "\ea4a";
}
.encounters-hasturs_envoys:before {
  content: "\ea4b";
}
.encounters-decaying_reality:before {
  content: "\ea4c";
}
.encounters-maddening_delusions:before {
  content: "\ea4d";
}
.encounters-ancient_evils:before {
  content: "\ea6e";
}
.encounters-dark_cult:before {
  content: "\ea6f";
}
.encounters-agents_of_yog:before {
  content: "\ea70";
}
.encounters-agents_of_cthulhu:before {
  content: "\ea71";
}
.encounters-ghouls:before {
  content: "\ea72";
}
.encounters-chilling_cold:before {
  content: "\ea73";
}
.encounters-core:before {
  content: "\ea74";
}
.encounters-agents_of_hastur:before {
  content: "\ea75";
}
.encounters-agents_of_shub:before {
  content: "\ea76";
}
.encounters-locked_doors:before {
  content: "\ea77";
}
.encounters-nightgaunts:before {
  content: "\ea78";
}
.encounters-rats:before {
  content: "\ea79";
}
.encounters-striking_fear:before {
  content: "\ea7a";
}
.encounters-the_gathering:before {
  content: "\ea7b";
}
.encounters-midnight_masks:before {
  content: "\ea7c";
}
.encounters-cult_of_umordoth:before {
  content: "\ea7d";
}
.encounters-the_devourer_below:before {
  content: "\ea7e";
}
.encounters-rtnotz:before {
  content: "\58";
}
.encounters-ghouls_of_umrdhoth:before {
  content: "\ea7f";
}
.encounters-the_devourers_cult:before {
  content: "\ea80";
}
.encounters-return_to_the_gathering:before {
  content: "\ea81";
}
.encounters-return_to_the_midnight_masks:before {
  content: "\ea82";
}
.encounters-return_cult:before {
  content: "\ea83";
}
.encounters-return_to_the_devourer_below:before {
  content: "\ea84";
}
.encounters-carcosa:before {
  content: "\47";
}
.encounters-return_to_the_path_to_carcosa:before {
  content: "\48";
}
.encounters-return_to_curtain_call:before {
  content: "\ea41";
}
.encounters-return_to_the_last_king:before {
  content: "\ea42";
}
.encounters-return_to_echoes_of_the_past:before {
  content: "\ea43";
}
.encounters-return_to_the_unspeakable_oath:before {
  content: "\ea44";
}
.encounters-return_to_the_phantom_of_truth:before {
  content: "\ea45";
}
.encounters-return_to_the_pallid_mask:before {
  content: "\ea46";
}
.encounters-return_to_black_stars_rise:before {
  content: "\ea47";
}
.encounters-return_to_dim_carcosa:before {
  content: "\ea48";
}
.encounters-set:before {
  content: "\49";
}
.encounters-extracurricular_activity:before {
  content: "\ea4e";
}
.encounters-the_house_always_wins:before {
  content: "\ea4f";
}
.encounters-armitages_fate:before {
  content: "\ea50";
}
.encounters-the_miskatonic_museum:before {
  content: "\ea51";
}
.encounters-the_essex_county_express:before {
  content: "\ea52";
}
.encounters-blood_on_the_altar:before {
  content: "\ea53";
}
.encounters-undimensioned_and_unseen:before {
  content: "\ea54";
}
.encounters-where_doom_awaits:before {
  content: "\ea55";
}
.encounters-lost_in_time_and_space:before {
  content: "\ea56";
}
.encounters-bad_luck:before {
  content: "\ea57";
}
.encounters-beast_thralls:before {
  content: "\ea58";
}
.encounters-bishops_thralls:before {
  content: "\ea59";
}
.encounters-dunwich:before {
  content: "\ea5a";
}
.encounters-hideous_abominations:before {
  content: "\ea5b";
}
.encounters-naomis_crew:before {
  content: "\ea5c";
}
.encounters-sorcery:before {
  content: "\ea5d";
}
.encounters-the_beyond:before {
  content: "\ea5e";
}
.encounters-whippoorwills:before {
  content: "\ea5f";
}
.encounters-return_to_the_dunwich_legacy:before {
  content: "\4a";
}
.encounters-return_to_extracurricular_activities:before {
  content: "\ea60";
}
.encounters-return_to_the_house_always_wins:before {
  content: "\ea61";
}
.encounters-return_to_the_miskatonic_museum:before {
  content: "\ea62";
}
.encounters-return_to_the_essex_county_express:before {
  content: "\ea63";
}
.encounters-return_to_blood_on_the_altar:before {
  content: "\ea64";
}
.encounters-return_to_undimensioned_and_unseen:before {
  content: "\ea65";
}
.encounters-return_to_where_doom_awaits:before {
  content: "\ea66";
}
.encounters-return_to_lost_in_time_and_space:before {
  content: "\ea67";
}
.encounters-resurgent_evils:before {
  content: "\ea68";
}
.encounters-erratic_fear:before {
  content: "\ea69";
}
.encounters-creeping_cold:before {
  content: "\ea6a";
}
.encounters-secret_doors:before {
  content: "\ea6b";
}
.encounters-yog_sothoths_emissaries:before {
  content: "\ea6c";
}
.encounters-beyond_the_threshold:before {
  content: "\ea6d";
}
