@layer components, application;

:root {
  --font-family-ui: "Noto Sans", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-content: "Noto Serif", ui-serif, Georgia, Cambria,
    "Times New Roman", Times, serif;

  --nord-0: #2e3440;
  --nord-1: #3b4252;
  --nord-point-five: #353b49;
  --nord-2: #434c5e;
  --nord-3: #4c566a;
  --nord-4: #d8dee9;
  --nord-5: #e5e9f0;
  --nord-6: #eceff4;
  --nord-7: #8fbcbb;
  --nord-8: #88c0d0;
  --nord-9: #81a1c1;
  --nord-10: #5e81ac;
  --nord-11: #bf616a;
  --nord-12: #d08770;
  --nord-13: #ebcb8b;
  --nord-14: #a3be8c;
  --nord-15: #b48ead;

  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow: 0 2px 3px 0 rgb(0 0 0 / 0.125), 0 1px 2px -1px rgb(0 0 0 / 0.125);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.2), 0 2px 4px -2px rgb(0 0 0 / 0.2);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.2), 0 4px 6px -4px
    rgb(0 0 0 / 0.2);
  --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.3), 0 8px 10px -6px
    rgb(0 0 0 / 0.3);

  --text-2xs: 0.675rem;
  --text-xs: 0.75rem;
  --text-sm: 0.8125rem;
  --text-base: 0.875rem;
  --text-lg: 1rem;
  --text-xl: 1.125rem;
  --text-2xl: 1.25rem;
  --text-3xl: 1.5rem;

  --icon-sm: 1rem;
  --icon-base: 1.25rem;
  --icon-lg: 1.5rem;
  --icon-xl: 1.625rem;
  --icon-2xl: 1.75rem;
  --icon-3xl: 2rem;

  --willpower: #2c7fc0;
  --intellect: #7c3c85;
  --combat: #ae4236;
  --agility: #14854d;
  --wild: #8a7d5a;

  --guardian: #5cb4fd;
  --mystic: #ba81f2;
  --rogue: #48b14f;
  --seeker: #efa345;
  --survivor: #ee4a53;
  --multiclass: #e4d083;
  --mythos: var(--nord-4);
  --neutral: var(--nord-4);

  --guardian-dark: #1072c2;
  --seeker-dark: #db7c07;
  --rogue-dark: #219428;
  --mystic-dark: #7554ab;
  --survivor-dark: #cc3038;
  --neutral-dark: var(--nord-2);
  --multiclass-dark: #a38c46;
  --mythos-dark: var(--nord-2);

  --taboo: #9869f5;
  --health: #ae4236;
  --sanity: #2c7fc0;

  --rounded: 0.25rem;
  --rounded-md: 0.5rem;
  --rounded-lg: 1rem;
  --rounded-xl: 1.5rem;

  --layout-padding: 0.75rem;
  --layout-max-width: 115rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  color-scheme: only dark;
}

body {
  font-family: var(--font-family-ui);
  font-size: var(--text-base);
  line-height: 1.45;
  background: var(--nord-0);
  color: var(--nord-4);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  isolation: isolate;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
  font-weight: 600;
}

a {
  color: currentColor;
  text-decoration: underline;
}

small {
  font-size: var(--text-xs);
}

ol,
ul {
  padding: 0;
}

blockquote {
  margin: 0;
  padding: 0.5rem 1rem;
  background-color: var(--nord-point-five);
  border-left: 0.25rem solid var(--nord-4);
}

hr {
  height: 0;
  margin: 0.5rem 0;
  border-top: 0;
  border-bottom: 1px solid var(--nord-4);
}

pre {
  white-space: pre-wrap;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

img {
  color: currentColor;
  font-size: var(--text-2xs);
  font-family: var(--font-family-ui);
}

code {
  background-color: var(--nord-1);
  padding: 0.25em 0.325em;
  border-radius: var(--rounded);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

input,
textarea,
select {
  font-family: var(--font-family-ui);
  line-height: 1.5;
  font-size: var(--text-sm);
  background-color: var(--nord-point-five);
  color: var(--nord-5);
  border: 1px solid var(--nord-2);
  border-radius: var(--rounded);
  padding: 0.375rem;

  &:hover {
    border-color: var(--nord-3);
  }

  &:focus-visible {
    outline: 1px solid var(--nord-6);
  }
}

input,
textarea {
  appearance: none;
}

textarea::placeholder,
input::placeholder {
  color: color-mix(in srgb, var(--nord-3) 70%, var(--nord-4) 30%);
}

textarea {
  resize: vertical;
  min-height: 8rem;
}

/* HACK! avoids iOS Safari forced zooming to inputs */
@supports (-webkit-touch-callout: none) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
  }
}

button {
  outline: none;
  border: none;
  box-shadow: none;
  background-color: var(--nord-point-five);
  color: var(--nord-5);
  cursor: pointer;
  padding: 0;
  appearance: none;
  font-family: var(--font-family-ui);
  font-size: 1rem;
  user-select: none;

  &[disabled] {
    opacity: 0.3;
    cursor: default;
  }

  &:hover {
    background: var(--nord-2);
  }

  &:focus-visible {
    outline: 1px solid var(--nord-6);
  }
}

.color-health {
  color: var(--health);
}

.color-sanity {
  color: var(--sanity);
}

.color-taboo {
  color: var(--taboo);
}

.color-guardian {
  color: var(--guardian);
}

.color-mystic {
  color: var(--mystic);
}

.color-rogue {
  color: var(--rogue);
}

.color-seeker {
  color: var(--seeker);
}

.color-survivor {
  color: var(--survivor);
}

.color-multiclass {
  color: var(--multiclass);
}

.color-mythos {
  color: var(--mythos);
}

.color-neutral {
  color: var(--neutral);
}

.background-guardian,
.background-multiclass,
.background-mystic,
.background-mythos,
.background-neutral,
.background-rogue,
.background-seeker,
.background-survivor {
  position: relative;
  z-index: 0;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);

  & > * {
    position: relative;
    z-index: 2;
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    mask-position: left top;
    mask-size: cover;
    mask-repeat: repeat-x repeat-y;
    z-index: 1;
  }
}

.background-guardian {
  background-color: var(--guardian-dark);
  &::after {
    background: rgba(0, 0, 0, 0.1);
    mask-image: url("../assets/patterns/guardian.svg");
  }
}

.background-mystic {
  background: var(--mystic-dark);
  &::after {
    background: rgba(255, 255, 255, 0.05);
    mask-image: url("../assets/patterns/mystic.svg");
  }
}

.background-rogue {
  background: var(--rogue-dark);
  &::after {
    background: rgba(0, 0, 0, 0.05);
    mask-image: url("../assets/patterns/rogue.svg");
  }
}

.background-seeker {
  background: var(--seeker-dark);

  &::after {
    background: rgba(0, 0, 0, 0.05);
    mask-image: url("../assets/patterns/seeker.svg");
  }
}

.background-survivor {
  background: var(--survivor-dark);
  &::after {
    background: rgba(0, 0, 0, 0.05);
    mask-image: url("../assets/patterns/survivor.svg");
  }
}

.background-multiclass {
  background: var(--multiclass-dark);
  &::after {
    background: rgba(0, 0, 0, 0.05);
    mask-image: url("../assets/patterns/multiclass.svg");
  }
}

.background-mythos {
  background: var(--mythos-dark);
  &::after {
    background: rgba(0, 0, 0, 0.25);
    mask-image: url("../assets/patterns/mythos.svg");
  }
}

.background-neutral {
  background: var(--neutral-dark);
  &::after {
    background: rgba(0, 0, 0, 0.05);
    mask-image: url("../assets/patterns/neutral.svg");
  }
}

.border-taboo {
  border-color: var(--taboo) !important; /* HACK */
}

.border-guardian {
  border-color: var(--guardian-dark);
}

.border-mystic {
  border-color: var(--mystic-dark);
}

.border-rogue {
  border-color: var(--rogue-dark);
}

.border-seeker {
  border-color: var(--seeker-dark);
}

.border-survivor {
  border-color: var(--survivor-dark);
}

.border-multiclass {
  border-color: var(--multiclass-dark);
}

.border-mythos {
  border-color: var(--mythos-dark);
}

.border-neutral {
  border-color: var(--neutral-dark);
}

.fg-guardian {
  color: var(--guardian);
}

.fg-mystic {
  color: var(--mystic);
}

.fg-rogue {
  color: var(--rogue);
}

.fg-seeker {
  color: var(--seeker);
}

.fg-survivor {
  color: var(--survivor);
}

.fg-dual,
.fg-multiclass {
  color: var(--multiclass);
}

.fg-mythos {
  color: var(--mythos-dark);
}

.fg-neutral {
  color: var(--nord-4);
}

svg {
  display: block;
  width: 1em;
  height: auto;
}

.icon-current {
  fill: currentColor;
}

.break {
  display: block;
  height: 0.75rem;
  margin: 0;
  clear: both;
  visibility: hidden;
}

.longform {
  font-family: var(--font-family-ui);
  line-height: 1.5;
}

.longform :where(h1, h2, h3, h4, h5, h6) {
  line-height: 1.25;
}

.longform :where(h1, h2) {
  font-size: 1.7411em;
}

.longform h3 {
  font-size: 1.5157em;
}

.longform h4 {
  font-size: 1.3195em;
}

.longform h5 {
  font-size: 1.1487em;
}

.longform small {
  font-size: 0.8706em;
}

.longform > * + * {
  margin-top: 1rem;
}

.longform :where(ol, ul) {
  margin-left: 2em;
}

.longform li + li {
  margin-top: 0.25em;
}

.longform :not(:where(h1, h2, h3, h4, h5, h6)) a {
  text-decoration-style: dashed;
}

.longform table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.longform table :where(td, th) {
  padding: 0.125rem 0.25rem;
}

.longform .icon-rogue {
  color: var(--rogue);
}

.longform .icon-guardian {
  color: var(--guardian);
}

.longform .icon-seeker {
  color: var(--seeker);
}

.longform .icon-mystic {
  color: var(--mystic);
}

.longform .icon-survivor {
  color: var(--survivor);
}

.longform .icon-neutral {
  color: var(--nord-4);
}

.longform .icon-multiclass {
  color: var(--multiclass);
}

.longform .icon-mythos {
  color: var(--mythos);
}

.longform [style*="color"] {
  color: inherit !important;
}

.spin {
  animation: spin 1s linear infinite;
}

.fade-in {
  animation: fadeIn 0.2s ease-in forwards;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
