.main {
  column-gap: 2rem;
  row-gap: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content min-content;
  grid-template-areas:
    "header"
    "sidebar"
    "decklist";

  padding-bottom: 1rem;

  @media screen and (min-width: 52rem) {
    grid-template-columns: 24rem 1fr;
    grid-template-areas:
      "sidebar header"
      "sidebar decklist";
    grid-template-rows: min-content 1fr;
  }
}

.sidebar {
  grid-area: sidebar;
}

.header {
  grid-area: header;

  & > * + * {
    margin-top: 0.5rem;
  }
}

.content {
  grid-area: decklist;

  & > * + * {
    margin-top: 1rem;
  }
}

.floating {
  position: fixed;
  right: 2rem;
  bottom: 1rem;
  z-index: 2;
}

.floating-element {
  border-radius: var(--rounded-xl);
  box-shadow: var(--shadow);
}
