.layout {
  display: grid;
  grid-template-areas:
    "header"
    "main";
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  height: 100dvh;
  gap: 1rem;
  padding: 1rem;

  & > *:not(.header) {
    border: 1px solid var(--nord-1);
    border-radius: var(--rounded-md);
    overflow: hidden;
  }

  @media screen and (min-width: 48rem) {
    grid-template-areas:
      "header header"
      "left main";
    grid-template-columns: 22.5rem 1fr;
    grid-template-rows: auto 1fr;
  }

  @media screen and (min-width: 72rem) {
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "header header header"
      "left main right";
    grid-template-columns: 24rem 1fr 18rem;
  }
}

.header-settings {
  font-size: var(--icon-base);
}

.layout-left {
  grid-area: left;
  display: none;

  @media screen and (min-width: 48rem) {
    display: block;
  }
}

.layout-main {
  grid-area: main;
}

.layout-right {
  grid-area: right;
  display: none;

  @media screen and (min-width: 72rem) {
    display: block;
  }
}
