.layout {
  --sidebar-width: 20rem;

  height: 100dvh;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  gap: 0.5rem;
  padding: 0.5rem;

  & > * {
    border: 1px solid var(--color-border);
    border-radius: var(--rounded-md);
  }
}

.layout-sidebar {
  flex: 0 0 var(--sidebar-width);
}

.layout-main {
  flex: 1 1 100%;
}

.layout-filters {
  display: none;
  flex: 0 0 var(--sidebar-width);

  @media screen and (min-width: 50rem) {
    display: block;
  }
}
