.masthead {
  flex: 0 0 auto;
  grid-area: header;
  display: flex;
  justify-content: space-between;
  height: 1.75rem;
}

.masthead h1 {
  font-size: 1rem;
}

.masthead-nav {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.masthead-toggle-search {
  display: block;

  @media screen and (min-height: 45rem) {
    display: none;
  }
}
