.settings {
  position: relative;
}

.settings > * + *,
.settings-container > * + * {
  margin-top: 1.5rem;
}

.settings-header {
  background: var(--nord-point-five);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 0.75rem 1rem;
  position: sticky;
  top: 0;
  z-index: 2;
  border-radius: var(--rounded);
}

.settings-header-actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.settings-title {
  font-size: var(--text-2xl);
}
