.settings {
  position: relative;
}

.settings > * + * {
  margin-top: 1.5rem;
}

.container > * + * {
  margin-top: 1.5rem;
}

.header {
  background: var(--palette-point-five);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 0.75rem 1rem;
  position: sticky;
  top: 0;
  z-index: 3;
  border-radius: var(--rounded);
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.title {
  font-size: var(--text-2xl);
}

.section {
  margin-top: 1.5rem;
}

.section-header {
  margin-bottom: 1.5rem;
}

.section-title {
  display: inline-block;
  font-size: var(--text-xl);
  border-left: 0.25rem solid currentColor;
  padding-left: 0.5rem;
}

.section-title::after {
  left: 100%;
  margin-left: 1rem;
}

.section-title::before {
  right: 100%;
  margin-right: 1rem;
}

.section-content > * + * {
  margin-top: 1rem;
}

.row {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr;

  @media screen and (min-width: 45rem) {
    grid-template-columns: 1fr 1fr;
  }
}

.lists {
  display: flex;
  flex-flow: row wrap;
  gap: 0.75rem;
  width: 100%;
}

.list {
  border: 1px solid var(--palette-point-five);
  padding: 1rem;
  min-width: min(24rem, 100%);
  border-radius: var(--rounded);
}

.list-overlay {
  width: 24rem;
}

.list > * + * {
  margin-top: 0.75rem;
}

.list-group {
  border-top: 1px solid var(--palette-point-five);
  padding-top: 0.75rem;
}

.list-group > * + * {
  margin-top: 0.75rem;
}

.list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
}

.list-title {
  font-size: var(--text-lg);
}

.list-group-title {
  font-size: var(--text-base);
}
