.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--card-spacing);
  padding: calc(var(--card-spacing) / 1.5) var(--card-spacing);
  color: var(--nord-6);
  border-radius: calc(var(--rounded-md) - 2px) calc(var(--rounded-md) - 2px) 0 0;

  & > * {
    z-index: 2;
  }
}

.header a {
  &:hover {
    text-decoration: underline;
  }
}

.header-row {
  display: flex;
  align-items: center;
  gap: var(--card-spacing);
}

.header-icon {
  font-size: calc(var(--card-title-size) * 1.75);
  line-height: 1;
}

.faction-icons {
  font-size: calc(var(--card-title-size) * 1.5);
  gap: 0.25rem;
}
