.name {
  font-size: var(--card-title-size);

  & span {
    display: inline-block;
    margin-left: 0.25rem;
    font-size: var(--text-md);
  }
}

.name a {
  color: currentColor;
  text-decoration: none;
}

.sub {
  font-style: italic;
  font-weight: 400;
  font-size: var(--text-md);
}

.parallel {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.125rem;
}
