.card {
  --card-text-size: var(--text-md);
  --card-title-size: var(--text-lg);
  --card-spacing: 1rem;

  background: var(--gray-900);
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 15rem;
  grid-template-areas:
    "header header"
    "content image";
  border-width: 1px;
  border-style: solid;
  border-radius: var(--rounded-md);

  &.sideways {
    grid-template-columns: 1fr 20rem;
  }

  &.compact,
  &.compact.sideways {
    grid-template-columns: 1fr 8rem;
  }

  &.back:not(.has-image) {
    grid-template-columns: 1fr;
  }
}

.container {
  grid-area: content;
  padding: var(--card-spacing);

  & > * + * {
    margin-top: var(--card-spacing);
  }
}

.image {
  grid-area: image;
  padding: var(--card-spacing);

  & img {
    border-radius: var(--rounded-lg);
  }
}

.card.tooltip {
  --card-text-size: var(--text-sm);
  --card-title-size: var(--text-md);
  --card-spacing: 0.5rem;

  max-width: 32rem;
  background: var(--gray-900);
  border-color: var(--color-border);
  grid-template-columns: 1fr 6rem;

  &.back.has-image {
    grid-template-columns: 1fr 6rem;
  }
}
