.icon_mythos,
.icon_weakness,
.icon_large {
  font-size: 1em;
  width: 1em;
}

.icon_skill,
.icon_cost {
  position: relative;
  width: 1em;
  height: 1em;
}

.icon-level {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 1em;
}

.icon-child,
.icon-children {
  position: absolute;
  color: currentColor;
  z-index: 2;
  font-size: 0.5em;
  line-height: 1;
  color: var(--nord-0);
}

.icon-child,
.icon-children {
  width: 100%;
  text-align: center;
}

.icon-child,
.icon-children {
  top: 16.667%;
}

.icon_skill .icon-child {
  top: 15%;
}

.icon_inverted,
.icon_inverted .icon-child,
.icon_inverted .icon-children {
  color: var(--nord-4);
}
