.meta:not(.tooltip) {
  border-top: 1px solid var(--nord-4);
  padding-top: 0.25rem;
}

.meta-property {
  font-size: var(--text-xs);
}

.meta-property [class^="encounters-"],
.meta-property svg {
  display: inline-block;
  vertical-align: baseline;
}

.meta-property strong {
  font-weight: 700;
}
