.text {
  padding-left: var(--card-spacing);
  border-left: 3px solid var(--nord-4);
  font-size: var(--card-text-size);

  & > * + * {
    margin-top: var(--card-spacing);
  }
}

.text p {
  max-width: 80ch;
}

.text b {
  color: var(--nord-6);
  font-weight: 600;
}

.text br {
  line-height: 2;
}

.flavor {
  max-width: 80ch;
  font-size: var(--text-sm);
  font-style: italic;
}
