.details {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--card-spacing);
  line-height: 1;
}

.details-text {
  font-size: var(--card-text-size);

  & > * + * {
    margin-top: 0.25rem;
  }
}

.details-traits {
  font-style: italic;
  font-weight: 700;
}

.details-type {
  font-weight: 700;

  & > *:not(:last-child)::after {
    content: " · ";
  }
}
