.meta {
  border-top: 1px solid var(--color-border);
  padding-top: 0.25rem;
}

.meta-property {
  font-size: var(--text-xs);
}

.meta-property svg {
  display: inline-block;
  vertical-align: middle;
}

.meta-property strong {
  font-weight: 700;
}
