.slots {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  gap: 0.25rem;

  li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background: var(--nord-4);
    color: var(--nord-3);
    font-size: var(--icon-lg);
    border-radius: 50%;
    border: 2px solid var(--nord-3);
  }
}

.slots.small li {
  width: 1.125rem;
  height: 1.125rem;
  border: none;
  font-size: 1rem;
  background: none;
  color: var(--nord-4);
}
