.icons {
  & > * + * {
    margin-top: 1rem;
  }
}

.icons-skills {
  gap: 0.5rem;
}

.icons-skill {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.125rem;
  background: var(--color-border);
  border-radius: var(--rounded-md);
  min-height: 1.5em;
  min-width: 1.5em;
}
