.customizations {
  border: 1px solid var(--nord-3);
  background: var(--nord-1);
  border-radius: var(--rounded-md);
}

.header {
  border-radius: calc(var(--rounded-md) - 2px) calc(var(--rounded-md) - 2px) 0 0;
  padding: 0.5rem 1rem;
  color: var(--nord-6);
}

.customizations-text {
  padding: 1rem;
}

.customizations-text p {
  max-width: 80ch;
}

.customizations-text b {
  color: var(--nord-6);
  font-weight: 600;
}

.customizations-text br {
  line-height: 2;
}
