.view-center {
  border-radius: 0;
}

.view {
  height: 100%;
  overflow: auto;
  margin: 0 auto;
  padding: 0 1rem;

  & > * + * {
    margin-top: 1rem;
  }
}

.view-nav {
  display: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background: var(--gray-850);
}

.view-nav a {
  color: currentColor;
  font-size: var(--text-xl);
}

.view-section-title {
  text-align: center;
  color: var(--gray-300);
  font-size: var(--text-xl);
  line-height: 1;
  margin: 1.5rem 0;
  text-transform: uppercase;
}

.view-section-cards {
  & > * + * {
    margin-top: 1rem;
  }
}
