/* TODO: clean this up with a variant / props. */
.tooltip {
  box-shadow: var(--shadow-lg);

  width: max(24rem, 33.333dvw);
  max-width: 32rem;

  z-index: 99;

  @media screen and (max-width: 36rem) {
    display: none;
  }
}

.tooltip > div > *:only-child {
  border-radius: var(--rounded-md);
}

.tooltip > div > *:not(:only-child):first-child {
  border-radius: var(--rounded-md) var(--rounded-md) 0 0;
  border-bottom: none;
}

.tooltip > div > *:not(:only-child):last-child {
  border-radius: 0 0 var(--rounded-md) var(--rounded-md);
}

.tooltip > div > *:not(:only-child):last-child header {
  border-radius: 0;
}
