.cardset {
  background: var(--nord-point-five);
  border: 1px solid var(--nord-1);
  border-radius: var(--rounded-md);
  padding: 0.5rem;
  box-shadow: var(--shadow-md);

  &.selected {
    border-color: var(--accent-color, var(--nord-2));
  }
}

.cardset-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.25rem;
}

.cardset-title label {
  width: 100%;
}

.cardset-title {
  font-family: var(--font-family-ui);
  color: var(--nord-4);
  font-size: var(--text-sm);
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  width: 100%;
}
