.collapse-container {
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 4;
  cursor: pointer;
  opacity: 0;
  transition: all 0.2s;

  &.right {
    /* Half the size of the button: .5 svg width + padding + border */
    left: calc(0px - 0.5em - 0.375rem - 1px);
  }

  &.left {
    right: calc(0px - 0.5em - 0.375rem - 1px);
  }

  & svg {
    max-width: fit-content;
  }

  &:hover {
    opacity: 1;
  }
}

.highlight {
  background: linear-gradient(
    0deg,
    rgba(216, 222, 233, 0) 0%,
    rgba(216, 222, 233, 0.4) 50%,
    rgba(216, 222, 233, 0) 100%
  );
  height: 100%;
  width: 1px;
  transition: 0.3s;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
}

.button {
  box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}
