.summary {
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-radius: var(--rounded);
  overflow: hidden;
  transition: border 0.15s ease-in-out;
}

.thumbnail {
  width: 2.75rem;
  position: relative;
  flex: 0 0 auto;
}

.validation {
  display: inline-block;
  background: var(--health);
  color: var(--color-inverted);
  border-radius: 100%;
  padding: 1px;
  position: absolute;
  bottom: 0.125rem;
  left: 0.1875rem;
}

.header,
.meta {
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  padding: 0.375rem;
  gap: 0.75rem;
  transition: background 0.15s ease-in-out;
}

.header-container {
  flex: 1 1 auto;
  position: relative;
}

.header-row {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  align-items: center;
  line-height: 1;
  gap: 0.25rem;
  margin-top: 0.125rem;

  &.wrap {
    flex-wrap: wrap;
  }
}

.info-container {
  opacity: 1;
}

.title {
  display: flex;
  gap: 0.25rem;
  font-family: var(--font-family-ui);
  font-size: var(--text-sm);
  hyphens: auto;
}

.sub {
  font-family: var(--font-family-content);
  font-style: italic;
  font-weight: 400;
  font-size: var(--text-xs);
}

.meta {
  grid-area: meta;
  font-size: var(--text-sm);
  padding: 0.25rem;
}

.quick-actions-list {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0;
  opacity: 0;
  height: min-content;
  pointer-events: none;
  visibility: hidden;
}

.quick-action {
  list-style: none;

  &:not(:first-child) {
    margin-left: 0.25rem;
  }
}

.summary.interactive {
  &:not(:hover) {
    border-color: var(--palette-2);
  }

  &:not(:hover) .header {
    background: var(--palette-point-five);
    color: var(--palette-4);
    text-shadow: none;
  }
}

.summary-transition {
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}

@media (pointer: fine) {
  .summary.interactive {
    .thumbnail {
      filter: grayscale(0.5);
    }

    &:hover {
      & .thumbnail {
        filter: none;
      }

      & .quick-actions-list {
        right: 0.375rem;
        opacity: 1;
        pointer-events: all;
        visibility: visible;
      }

      & .info-container {
        opacity: 0.95;
      }
    }
  }
}
