.toggle {
  padding: 0.5rem;
}

.toggle .color-active-guardian[data-state="on"] {
  --active-color: var(--color-guardian);
}

.toggle .color-active-rogue[data-state="on"] {
  --active-color: var(--color-rogue);
}

.toggle .color-active-seeker[data-state="on"] {
  --active-color: var(--color-seeker);
}

.toggle .color-active-survivor[data-state="on"] {
  --active-color: var(--color-survivor);
}

.toggle .color-active-mystic[data-state="on"] {
  --active-color: var(--color-mystic);
}

.toggle .color-active-multiclass[data-state="on"] {
  --active-color: var(--color-multiclass);
}
