.footer {
  display: flex;
  justify-content: center;
  font-size: 0.625em;
  color: color-mix(in srgb, var(--nord-3) 70%, var(--nord-4) 30%);
  padding-top: 0.25rem;
}

.footer p {
  border-top: 1px dashed var(--nord-1);
  padding-top: 0.25rem;
}

.footer a {
  text-decoration-style: dashed;
}
