.action-shortcuts {
  display: none;

  @media (hover: hover) and (pointer: fine) {
    display: flex;
  }
}

.groups > * + * {
  margin-top: 1rem;
}

.group > * + * {
  margin-top: 0.5rem;
}

.group-title {
  font-size: var(--text-lg);
}

.shortcuts {
  display: grid;
  grid-template-columns: 5rem 1fr;
  gap: 0.75rem;
}

.shortcut-keybind {
  text-align: right;
}
