.container {
  background: var(--palette-point-five);
  font-family: var(--font-family-ui);
  border-radius: var(--rounded-md);
  border: 1px solid var(--palette-2);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.375rem;
  padding: 0.625rem 1rem;
  border-radius: var(--rounded-md) var(--rounded-md) 0 0;
}

.title {
  display: flex;
  align-items: center;
  gap: 0.375rem;
}

.title svg {
  filter: drop-shadow(1px 1px 0 rgba(0, 0, 0, 0.2));
}

.stats {
  font-weight: 700;
  background: rgba(0, 0, 0, 0.2);
  padding: 0.25rem;
  border-radius: var(--rounded-md);
}

.content {
  padding: 0.375rem;

  & *:first-child {
    padding-top: 0;
  }

  & > *:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }
}
