.masthead {
  flex: 0 0 auto;
  grid-area: header;
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 0;
  height: calc(1.5rem + var(--icon-3xl));
}

.left {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  max-width: 50%;
  width: 100%;
  container-type: inline-size;
  overflow: hidden;
}

.logo {
  display: inline-flex;
  gap: 0.5rem;
  margin-left: 0.25rem;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  font-size: var(--text-sm);
  color: var(--text);
}

.logo svg {
  flex: 0 0 auto;
}

.logo-name {
  flex: 1 1 auto;

  @container (max-width: 20ch) {
    display: none;
  }
}

.logo svg {
  font-size: var(--icon-xl);
  fill: currentColor;
}

.right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.right svg {
  font-size: var(--icon-sm);
}
