.skills {
  display: flex;
  list-style: none;
  align-items: center;
}

.skill-cost {
  font-size: calc(var(--card-text-size, 0.75em));
}

.skill-icon {
  font-size: calc(1.25 * var(--card-text-size, 0.9375em));
}

.skill_numbered {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.125rem;
}

.skill-stub {
  display: block;
  height: 1em;
}
