.skills {
  display: flex;
  list-style: none;
  align-items: center;
}

.skill-cost {
  font-size: 0.75em;
}

.skill_numbered {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.125rem;
}

.skill-stub {
  display: block;
  height: 1em;
}
