.sync {
  position: relative;
  margin-right: 0.1875rem;
}

.sync svg {
  font-size: var(--text-2xs);
}

.sync .unhealthy {
  top: -0.375rem;
  right: -0.375rem;
  display: inline-block;
  background: var(--health);
  color: var(--color-inverted);
  border-radius: 100%;
  padding: 1px;
  position: absolute;
}

.sync .unhealthy svg {
  width: 0.875em;
  height: 0.875em;
}
