.sync {
  position: relative;
  margin-right: 0.1875rem;
}

.sync.unhealthy::after {
  background: var(--nord-11);
  position: absolute;
  content: "";
  top: -0.1875rem;
  right: -0.1875rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  box-shadow: var(--shadow);
}

.sync svg {
  font-size: var(--text-2xs);
}
