.health,
.sanity {
  position: relative;
  display: block;
  width: 1em;
  height: auto;
}

.health {
  color: var(--health);
}

.sanity {
  color: var(--sanity);
}

.icon-base {
  font-size: var(--icon-xl);
}

.icon-cost {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--nord-5);
  transform: translateX(-50%) translateY(calc(-50% - 0.125rem));
  font-size: 0.75em;
}
