.scroller {
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.deck-tools {
  animation: fadeIn 0.5s;
  min-height: 15rem;
}

.deck-tools > * + * {
  margin-top: 1rem;
}

.charts-wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--palette-1);
  background-color: var(--palette-point-five);
}

.tools-title {
  line-height: inherit;
  font-size: var(--text-xl);
}

.chart-container {
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;

  &.fullsize {
    width: 100%;
  }

  & svg {
    overflow: visible;
  }
}

.skill-icon-label {
  font-size: 1.5rem;
}

.chart-title {
  margin-bottom: 1.25rem;
  font-size: var(--text-lg);
}

.tools-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 75rem) {
  .chart-container {
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 52rem) {
  .deck-tools {
    grid-column: sidebar / filters;
    height: calc(100% - 0.5rem);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
