.charts-wrap {
  display: flex;
  height: 100%;
}

.tools-title {
  margin-bottom: 2rem;
}

.chart-container {
  max-height: 350px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.skill-icon-label {
  font-size: 1.5rem;
}

.chart-title {
  margin-bottom: 1rem;
}
