.container {
  will-change: contents;
  user-select: none;
}

.container > * + * {
  margin-top: 0.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  gap: 0.5rem;
}

.title {
  display: inline-flex;
  align-items: center;
  gap: 0.375rem;
  font-size: var(--text-lg);
}

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  gap: 0.25rem;
}

.drawn {
  --cols: 5;
  --gap: 0.5rem;
  --card-width: 7rem;

  display: grid;
  list-style: none;
  grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
  justify-content: center;
  gap: var(--gap);
  max-width: calc(
    var(--cols) *
    var(--card-width) +
    (var(--cols) - 1) *
    var(--gap)
  );
}

.card-toggle {
  display: block;
  width: 100%;

  &:focus-visible {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: inherit;
      background-color: var(--focus);
      opacity: 0.2;
      z-index: 2;
    }
  }
}

.selected img {
  outline: 2px solid var(--focus);
  outline-offset: 1px;
  transform: scale(1.01);
}
