.skill-boosts {
  padding: 0;
  border: 0;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  gap: 0.5rem;
}

.skill-boosts > * + * {
  margin-top: 0.5rem;
}

.skill-boosts-label {
  font-size: var(--text-sm);
}
