.faction-filter {
  padding: 0.5rem;
}

.color-active-guardian[data-state="on"] {
  color: var(--guardian) !important;
}

.color-active-rogue[data-state="on"] {
  color: var(--rogue) !important;
}

.color-active-seeker[data-state="on"] {
  color: var(--seeker) !important;
}

.color-active-survivor[data-state="on"] {
  color: var(--survivor) !important;
}

.color-active-mystic[data-state="on"] {
  color: var(--mystic) !important;
}

.color-active-multiclass[data-state="on"] {
  color: var(--multiclass) !important;
}
