.filters {
  --filters-spacing-x: 0.75rem;
  --filters-spacing-y: 0.75rem;

  padding: var(--filters-spacing-y) var(--filters-spacing-x);
}

.filter-container {
  & > * + * {
    margin-top: var(--filters-spacing-y);
  }
}

.filter-header {
  display: flex;
  justify-content: flex-end;
  padding: 0 var(--filters-spacing-x);
}

.filters select {
  display: block;
  width: 100%;
}
