.filters {
  --filters-spacing-x: 0.75rem;
  --filters-spacing-y: 0.5rem;

  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  font-family: var(--font-family-ui);
}

.header {
  display: flex;
  align-items: center;
  gap: var(--filters-spacing-x);
  padding-inline: var(--filters-spacing-x);
  padding-top: var(--filters-spacing-y);
  gap: 0.25rem;
}

.header > * {
  flex: 0 0 auto;
}

.header > :first-child {
  flex: 1 1 auto;
}

.header label {
  width: 100%;
}

.type-filter {
  padding-inline: var(--filters-spacing-x);
  padding-top: var(--filters-spacing-y);
}

.card-type-filter {
  margin-top: calc(var(--filters-spacing-y) * 2);
  padding-inline: var(--filters-spacing-x);
  margin-bottom: calc(var(--filters-spacing-y) / 2);
}

.children {
  padding-inline: var(--filters-spacing-x);
  padding-top: var(--filters-spacing-y);
}

.children > * + * {
  margin-top: var(--filters-spacing-y);
}

.children + .header {
  margin-top: var(--filters-spacing-y);
}

.title {
  font-size: var(--text-base);
  padding: 0.25rem 0;
}

.content {
  padding: var(--filters-spacing-y) var(--filters-spacing-x) 1rem;
}

.content > * + * {
  margin-top: var(--filters-spacing-y);
}

.filters.disabled .content {
  opacity: 0.3;
  pointer-events: none;
}


.asset-filter .skill-boosts {
  padding: 0;
  border: 0;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  gap: 0.5rem;
}

.asset-filter .skill-boosts > * + * {
  margin-top: 0.5rem;
}

.asset-filter .skill-boosts-label {
  font-size: var(--text-sm);
}

.skill-filter > * + * {
  margin-top: var(--filters-spacing-y);
}

.skill-filter .icons {
  font-size: var(--icon-md);
}

.skill-filter .icon {
  display: flex;
  gap: 0.375rem;
  align-items: center;
}
