.filters {
  --filters-spacing-x: 0.75rem;
  --filters-spacing-y: 0.5rem;

  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  font-family: var(--font-family-ui);
}

.header {
  display: flex;
  align-items: center;
  gap: var(--filters-spacing-x);
  padding-inline: var(--filters-spacing-x);
  padding-top: var(--filters-spacing-y);
  gap: 0.25rem;

  & * {
    flex: 0 0 auto;
  }

  & > :first-child {
    flex: 1 1 auto;
  }

  & label {
    width: 100%;
  }
}

.type-filter {
  padding-inline: var(--filters-spacing-x);
  padding-top: var(--filters-spacing-y);
}

.children {
  padding-inline: var(--filters-spacing-x);
  padding-top: var(--filters-spacing-y);

  & > * + * {
    margin-top: var(--filters-spacing-y);
  }
}

.children + .header {
  margin-top: var(--filters-spacing-y);
}

.title {
  font-size: var(--text-base);
  padding: 0.25rem 0;
}

.content {
  padding: var(--filters-spacing-y) var(--filters-spacing-x) 1rem;

  & > * + * {
    margin-top: var(--filters-spacing-y);
  }
}

.filters.disabled .content {
  opacity: 0.3;
  pointer-events: none;
}

.faction-filter {
  padding: 0.5rem 0;

  & .color-active-guardian[data-state="on"] {
    --active-color: var(--guardian);
  }

  & .color-active-rogue[data-state="on"] {
    --active-color: var(--rogue);
  }

  & .color-active-seeker[data-state="on"] {
    --active-color: var(--seeker);
  }

  & .color-active-survivor[data-state="on"] {
    --active-color: var(--survivor);
  }

  & .color-active-mystic[data-state="on"] {
    --active-color: var(--mystic);
  }

  & .color-active-multiclass[data-state="on"] {
    --active-color: var(--multiclass);
  }
}

.asset-filter {
  & .skill-boosts {
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    gap: 0.5rem;
  }

  & .skill-boosts > * + * {
    margin-top: 0.5rem;
  }

  & .skill-boosts-label {
    font-size: var(--text-sm);
  }
}

.skill-filter {
  padding: 0 var(--filters-spacing-x);

  & > * + * {
    margin-top: var(--filters-spacing-y);
  }

  & .icons {
    font-size: var(--icon-md);
  }

  & .icon {
    display: flex;
    gap: 0.375rem;
    align-items: center;
  }
}
