.filters {
  --filters-spacing-x: 0.75rem;
  --filters-spacing-y: 0.5rem;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  font-family: var(--font-family-ui);
  box-shadow: var(--shadow-md);
}

.filters-container {
  padding: var(--filters-spacing-y) var(--filters-spacing-x) 1rem;

  & > * + * {
    margin-top: var(--filters-spacing-y);
  }
}

.filters-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: var(--filters-spacing-x);
  padding-inline: var(--filters-spacing-x);
  padding-top: var(--filters-spacing-y);
}

.filters-title {
  font-size: var(--text-base);
}

.filter-menu-icon {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}
