.color-active-guardian[data-state="on"] {
  color: var(--guardian);
}

.color-active-rogue[data-state="on"] {
  color: var(--rogue);
}

.color-active-seeker[data-state="on"] {
  color: var(--seeker);
}

.color-active-survivor[data-state="on"] {
  color: var(--survivor);
}

.color-active-mystic[data-state="on"] {
  color: var(--mystic);
}

.color-active-multiclass[data-state="on"] {
  color: var(--multiclass);
}
