.skill-filter {
  padding: 0 var(--filters-spacing-x);
}

.skill-filter > * + * {
  margin-top: var(--filters-spacing-y);
}

.skill-filter-icons {
  font-size: var(--icon-sm);
}

.skill-filter-icon {
  display: flex;
  gap: 0.375rem;
  align-items: center;
}
