.header {
  margin-bottom: 1rem;
}

.title {
  font-size: var(--text-lg);
}

.projects {
  list-style: none;
  display: grid;
  gap: 1rem;

  @media screen and (min-width: 40rem) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: 66rem) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
}

.section {
  margin-block: 0.375rem;
  padding-block: 0.375rem;
  border-bottom: 1px solid var(--palette-1);
}

.actions {
  display: flex;
  gap: 0.375rem;
}

.modal-inner {
  display: flex;
  flex-flow: column nowrap;
  height: calc(100dvh - 2rem);
  min-height: 0;
}

.modal-actions {
  flex: 0 0 auto;
}

.modal-content {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  min-height: 0;
}

.modal-content > * {
  flex: 0 0 auto;
}

.modal-content > .modal-content-main {
  flex: 1 1 auto;
  height: 100%;
  --grid-max-columns: 5;
}
