.health,
.sanity {
  position: relative;
  display: block;
  line-height: 1;
}

.health {
  color: var(--health);
}

.sanity {
  color: var(--sanity);
}

.icon-base {
  font-size: calc(2 * var(--card-text-size, var(--text-sm)));
}

.icon-cost {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--nord-5);
  transform: translateX(-50%) translateY(calc(-50% - 0.25rem));
  font-size: 0.75em;
}
