.health,
.sanity {
  position: relative;
  display: block;
}

.health {
  color: var(--health);
}

.sanity {
  color: var(--sanity);
}

.icon-base {
  font-size: var(--icon-xl);
}

.icon-cost {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--nord-5);
  transform: translateX(-50%) translateY(calc(-50% - 0.375rem));
  font-size: 0.75em;
}
