.skill-icon_fancy {
  position: relative;
  width: 1em;
  height: 1em;

  display: block;
  border-radius: var(--rounded);

  &.agility {
    color: var(--agility);
  }

  &.combat {
    color: var(--combat);
  }

  &.willpower {
    color: var(--willpower);
  }

  &.intellect {
    color: var(--intellect);
  }

  &.wild {
    color: var(--wild);
  }

  & > * {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.skill-icon_fancy-inverted {
  color: var(--nord-5);
}
