:root {
  --font-family-ui: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-family-monospace: "SFMono-Regular", Consolas, "Liberation Mono", Menlo,
    Courier, monospace;

  --color-background: #24303c;
  --color-text: #c2bfb5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: var(--font-family-ui);
  line-height: 1.5;
  background: var(--color-background);
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: var(--font-family-monospace);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
