:root {
  --font-family-content: "Alegreya Variable", serif;
  --font-family-ui: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-family-monospace: "SFMono-Regular", Consolas, "Liberation Mono", Menlo,
    Courier, monospace;

  --gray-50: #fffbf2;
  --gray-100: #f5f0e1;
  --gray-200: #dbd8cc;
  --gray-300: #c1c0b8;
  --gray-400: #a7a8a3;
  --gray-500: #8d908f;
  --gray-600: #72787a;
  --gray-700: #586065;
  --gray-800: #3e4851;
  --gray-900: #24303c;
  --gray-950: #131b23;

  --color-background: var(--gray-900);
  --color-text: var(--gray-400);

  --color-accent: var(--gray-400);
  --color-border: var(--gray-700);
  --color-focus: var(--gray-200);

  --color-input-text: var(--color-accent);
  --color-input-background: var(--gray-900);

  --color-input-background-hover: var(--gray-800);
  --color-input-text-hover: var(--gray-300);

  --guardian: #5cb4fd;
  --mystic: #ba81f2;
  --rogue: #48b14f;
  --seeker: #efa345;
  --survivor: #ee4a53;
  --multiclass: #e4d083;
  --mythos: var(--gray-100);
  --neutral: var(--gray-200);

  --rounded: 0.25rem;
  --rounded-md: 0.5rem;
  --rounded-lg: 1rem;
  --rounded-xl: 1.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: var(--font-family-content);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background: var(--color-background);
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
  image-rendering: -webkit-optimize-contrast;
}

svg {
  display: block;
  fill: currentColor;
  width: 1em;
  height: 1em;
}

input,
textarea,
select {
  font-family: var(--font-family-ui);
  background-color: var(--color-input-background);
  color: var(--color-input-text);
  border: 1px solid var(--color-border);
  border-radius: var(--rounded);

  &:focus {
    outline: 1px solid var(--color-focus);
  }
}

select {
  padding: 0.5rem;
  min-width: 10rem;
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="number"],
textarea {
  padding: 0.5rem;
}

button {
  all: unset;
  cursor: pointer;
  background-color: var(--color-input-background);
  color: var(--color-accent);

  &[disabled] {
    opacity: 0.3;
    cursor: default;
  }

  &:not([disabled]):hover {
    background-color: var(--color-input-background-hover);
  }

  &:not([disabled]):focus {
    outline: 1px solid var(--color-focus);
  }
}

.button {
  padding: 0.25rem 0.5rem;
  border-radius: var(--rounded);
}

.button-bare {
  background: none;
  color: var(--color-accent);
}

.button-icon {
  padding: 0.25rem;
  font-size: 1rem;
  background: none;
}

ol,
ul {
  padding-left: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.color-guardian {
  color: var(--guardian);
}

.color-mystic {
  color: var(--mystic);
}

.color-rogue {
  color: var(--rogue);
}

.color-seeker {
  color: var(--seeker);
}

.color-survivor {
  color: var(--survivor);
}

.color-multiclass {
  color: var(--multiclass);
}

.color-mythos {
  color: var(--mythos);
}

.color-neutral {
  color: var(--neutral);
}
