.layout {
  column-gap: 1.5rem;
  min-height: 100dvh;
  max-width: 115rem;
  margin-inline: auto;
  padding-inline: 1rem;
  padding-bottom: 1rem;
}

.layout-cards {
  max-width: 52rem;
  margin-inline: auto;
  container-type: inline-size;
  padding-bottom: 1rem;
  width: 100%;

  & > * + * {
    margin-top: 1rem;
  }
}

.layout-sidebar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  margin-inline: auto;
}
