.view-center {
  border: none !important;
}

.view {
  height: 100%;
  overflow: auto;
  margin: 0 auto;
  container-type: inline-size;

  & > * + * {
    margin-top: 1rem;
  }
}

.view-nav {
  display: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem;
  margin-bottom: 0.5rem;
  border-radius: calc(var(--rounded-md) - 2px) calc(var(--rounded-md) - 2px) 0 0;
}

.view-nav a {
  color: currentColor;
  font-size: var(--text-xl);
}

.view-section-title {
  text-align: center;
  color: var(--nord-4);
  font-size: var(--text-xl);
  line-height: 1;
  margin: 1.5rem 0;
  text-transform: uppercase;
}

.view-section-cards {
  & > * + * {
    margin-top: 1rem;
  }
}
