.layout {
  display: grid;
  min-height: 100dvh;
  gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "header" "sidebar" "main" "footer";
  margin-inline: auto;
  max-width: var(--layout-max-width);
  padding-inline: var(--layout-padding);
  padding-bottom: 0.5rem;

  @media screen and (min-width: 45rem) {
    grid-template-columns: 1fr 20rem;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header header" "main sidebar" "footer footer";
  }

  @media screen and (min-width: 60rem) {
    grid-template-columns: 8fr 4fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header header" "main sidebar" "footer footer";
  }
}

.header {
  grid-area: header;
}

.main {
  max-width: 52rem;
  margin-inline: auto;
  container-type: inline-size;
  padding-bottom: 1rem;
  width: 100%;
  grid-area: main;
}

.main > * + * {
  margin-top: 1rem;
}

.sidebar {
  grid-area: sidebar;
}

.sidebar-inner > * + * {
  margin-top: 1.5rem;
}

.sidebar-section > * + * {
  margin-top: 0.5rem;
}

.sidebar-section-title {
  font-size: var(--text-xl);
  line-height: 1;
}

.sidebar-section-content > * + * {
  margin-top: 0.5rem;
}

.view-section-title {
  font-family: var(--font-family-ui);
  text-align: center;
  color: var(--text);
  font-size: var(--text-xl);
  line-height: 1;
  margin: 1.5rem 0;
  text-transform: uppercase;
}

.view-section-cards > * + * {
  margin-top: 1rem;
}
