.layout {
  min-height: 100dvh;
  column-gap: 1rem;
  margin-inline: auto;
  max-width: var(--layout-max-width);
  padding-inline: var(--layout-padding);
  padding-bottom: 0.5rem;
}

.main {
  max-width: 52rem;
  margin-inline: auto;
  container-type: inline-size;
  padding-bottom: 1rem;
  width: 100%;
}

.main > * + * {
  margin-top: 1rem;
}

.actions {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.5rem;
  margin-inline: auto;
}

.view-section-title {
  font-family: var(--font-family-ui);
  text-align: center;
  color: var(--nord-4);
  font-size: var(--text-xl);
  line-height: 1;
  margin: 1.5rem 0;
  text-transform: uppercase;
}

.view-section-cards > * + * {
  margin-top: 1rem;
}
