.faq {
  background: var(--nord-0);

  & > * + * {
    margin-top: 0.5rem;
  }

  & summary {
    border: 1px solid var(--nord-1);
    background: var(--nord-point-five);
  }

  & summary::-webkit-details-marker {
    display: none;
  }
}

.faq summary span {
  display: inline-block;
  min-width: 1rem;
  text-align: center;
}

.faq-content {
  border: 1px solid var(--nord-1);
  padding: 0.5rem 1.5rem;
  font-size: var(--text-sm);
  border-radius: var(--rounded-md);

  > * {
    max-width: 72ch;
  }

  & li + li {
    margin-top: 0.5rem;
  }
}
