.entries,
.entries ol {
  list-style: none;
}

.entries > * + * {
  margin-top: 0.75rem;
}

.entry {
  padding: 1rem;
  border-radius: var(--rounded);
  background: var(--palette-point-five);
  border: 1px solid var(--palette-1);
}

.entry-title a {
  text-decoration: none;
  color: currentColor;
  display: inline-flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 0.375rem;
  line-height: 1;
}

.entry-title svg {
  font-size: var(--text-base);
}

.entry > * + * {
  margin-top: 1rem;
}

.entry-container {
  display: grid;
  gap: 1rem;

  @media screen and (min-width: 45rem) {
    grid-template-columns: 1fr 1fr;
  }
}

.entry-row > * + * {
  margin-top: 1rem;
}

.discount-container > * + * {
  margin-top: 0.5rem;
}

.discounts {
  list-style: none;
}

.discounts {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: max-content max-content;
  align-items: center;
}

.discounts dd {
  font-weight: 700;
  background: rgba(0, 0, 0, 0.08);
  padding: 0.125rem 0.25rem;
  border-radius: var(--rounded);
}
