.container {
  width: 100%;
  padding: 0.375rem 0.375rem 0;
  border-top: 1px solid var(--palette-1);

  &.readonly {
    border-top: none;
    padding: 0 0.125rem;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
}

.row {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.row svg {
  stroke: var(--palette-1);
  fill: currentColor;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  min-height: 0;
  padding: 0.375rem;
  margin-top: 0.25rem;
  border: 1px solid var(--palette-1);
  border-radius: var(--rounded);
}

.container.scroll .content {
  max-height: 20rem;
}

.content-row > * + * {
  margin-top: 0.75rem;
}

.quantity {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.exile {
  background: var(--palette-point-five);
  box-shadow: var(--shadow-md);
  border-radius: var(--rounded-md);
  width: 20rem;
  padding: 1rem;
}

.list > * + * {
  margin-top: 0.25rem;
}

.diffs {
  list-style: none;
}

.diff {
  display: flex;
}
