.layout {
  display: flex;
  flex-flow: column nowrap;
  margin-inline: auto;
  max-width: 115rem;
  min-height: 100vh;
  padding-inline: 1rem;
  padding-bottom: 0.5rem;
}

.header {
  flex: 0 0 auto;
}

.main {
  flex: 1 1 auto;
}

.footer {
  flex: 0 0 auto;
  padding-bottom: 0.5rem;
}
