.layout {
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  height: 100dvh;

  display: grid;
  gap: 1rem;
  padding: 1rem;

  grid-template-areas:
    "header"
    "main";

  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;

  & .header {
    grid-area: header;
  }

  & > *:not(.header) {
    border-radius: var(--rounded-md);
    overflow: hidden;
  }

  & .main {
    grid-area: main;
  }

  & .closeable {
    grid-area: closeable;
    border: 1px solid var(--nord-1);
  }

  & .sidebar {
    display: none;
    grid-area: sidebar;
  }

  &.has-sidebar {
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "header"
      "main";

    @media screen and (min-width: 48rem) {
      grid-template-areas:
        "header header"
        "sidebar main";

      grid-template-columns: 24rem 1fr;
      grid-template-rows: auto 1fr;

      & .sidebar {
        display: block;
      }
    }
  }

  &.has-closeable {
    & .layout-closeable {
      display: none;

      position: fixed;
      top: 3.75rem;
      right: 1rem;
      height: calc(100dvh - 4.75rem);
      width: min(calc(100% - 2rem), 20rem);
      z-index: 2;
      background: var(--nord-0);
      box-shadow: var(--shadow);

      &[data-state="open"] {
        display: block;
      }
    }
  }

  &.has-sidebar.has-closeable {
    @media screen and (min-width: 48rem) {
      grid-template-areas:
        "header header"
        "sidebar main";
      grid-template-columns: 24rem 1fr;
      grid-template-rows: auto 1fr;
    }

    @media screen and (min-width: 72rem) {
      grid-template-areas:
        "header header header"
        "sidebar main closeable";
      grid-template-columns: 24rem 1fr 20rem;
      grid-template-rows: auto 1fr;

      & .layout-closeable {
        position: relative;
        top: unset;
        right: unset;
        height: auto;
        width: auto;
        z-index: unset;

        &:not([data-state="open"]) {
          display: block;
          position: relative;
        }
      }
    }
  }

  &.has-closeable:not(.has-sidebar) {
    @media screen and (min-width: 48rem) {
      grid-template-rows: auto 1fr;
      grid-template-areas:
        "header header"
        "main closeable";
      grid-template-columns: 1fr 20rem;

      & .closeable {
        position: relative;
        top: unset;
        right: unset;
        height: auto;
        width: auto;
        z-index: unset;

        &:not([data-state="open"]) {
          display: block;
          position: relative;
        }
      }
    }
  }
}
