.deck-collection {
  display: flex;
  height: 100%;
  flex-flow: column nowrap;
  gap: 0.75rem;
}

.deck-collection-decks {
  list-style: none;
  padding: 0.25rem 0.75rem;

  & > * + * {
    margin-top: 0.75rem;
  }
}

.deck-collection-deck a {
  text-decoration: none;

  &:focus-visible {
    outline: 1px solid var(--nord-4);
  }
}

.deck-collection-header {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-top: 0.75rem;
  padding-inline: 0.75rem;
}

.deck-collection-title {
  font-size: var(--text-base);
  font-family: var(--font-family-ui);
}

.deck-collection-placeholder {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deck-collection-actions {
  display: inline-flex;
  gap: 0.25rem;
  align-items: center;
}

.deck-collection-tags {
  display: flex;
  flex-flow: row wrap;
  gap: 0.25rem;
}

.deck-collection-form {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  background: var(--nord-1);
  box-shadow: var(--shadow-md);
  border-radius: var(--rounded-md);
  width: 20rem;
  padding: 1rem;
}

.deck-collection-form-footer {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
