.button {
  display: inline-flex;
  gap: 0.25rem;
  background-color: var(--nord-0);
  align-items: center;
  padding: 0.25rem 0.5rem;
  border-radius: var(--rounded);
  border: 1px solid var(--nord-2);
  font-family: var(--font-family-ui);
  font-size: var(--text-base);
  user-select: none;

  &[disabled] {
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
  }

  &:not([disabled=""]):hover {
    background: var(--nord-2);
  }

  &:focus-visible {
    outline: 1px solid var(--nord-6);
  }
}

a.button {
  color: currentColor;
  text-decoration: none;
}

.button.full {
  display: flex;
  width: 100%;
  padding: 0.5rem 0.75rem;
}

.button.bare {
  color: var(--nord-5);
  border: none;
}

.button.sm {
  font-size: var(--text-sm);
  padding: 0.125rem;
}
