.button {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.25rem 0.5rem;
  border-radius: var(--rounded);
  border: 1px solid var(--nord-2);
  cursor: pointer;

  &[disabled] {
    opacity: 0.3;
    cursor: default;
  }

  &:hover {
    background: var(--nord-2);
  }

  &:focus {
    outline: 1px solid var(--nord-6);
  }
}

a.button {
  color: currentColor;
  text-decoration: none;
}

.button.full {
  display: flex;
  width: 100%;
  padding: 0.5rem 0.75rem;
}

.button.bare {
  color: var(--nord-5);
  border: none;
}
