.checkbox {
  --checkbox-size: 1rem;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.checkbox > * + * {
  padding-left: 0.5rem;
}

.root {
  display: inline-flex;
  align-items: stretch;
  justify-content: center;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  background: var(--palette-1);
  border-radius: var(--rounded);
  border: 1px solid var(--palette-3);
  cursor: pointer;

  &[disabled] {
    cursor: not-allowed;
    opacity: 1;
  }

  &[data-state="checked"] {
    background: var(--palette-2);
    border: 1px solid var(--palette-3);
  }
}

.root svg {
  width: 0.75em;
  height: 0.75em;
}

.checkbox:hover .root:not([disabled]):not([data-state="checked"]) {
  background-color: var(--palette-2);
}

.root:focus-visible {
  outline: 1px solid var(--focus);
  outline-offset: 1px;
}

.indicator {
  color: var(--palette-5);
  display: inline-flex;
  align-items: center;
}

.checkbox:hover .indicator {
  color: var(--palette-5);
}

.label {
  flex: 1 1 auto;
  color: currentColor;
  user-select: none;
  line-height: var(--checkbox-size);
  word-break: normal;
  font-family: var(--font-family-ui);
  font-size: var(--text-sm);
  cursor: pointer;
}
