.checkbox {
  --checkbox-size: 1rem;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  cursor: pointer;
  gap: 0.5rem;
}

.checkbox-root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  background: var(--nord-1);
  border-radius: var(--rounded);
}

.checkbox-root svg {
  width: 0.75em;
  height: 0.75em;
}

.checkbox:hover .checkbox-root {
  background-color: var(--nord-2);
}

.checkbox-root:focus {
  outline: 0.125rem solid var(--nord-5);
  outline-offset: 1px;
}

.checkbox-indicator {
  color: var(--nord-5);
}

.checkbox:hover .checkbox-indicator {
  color: var(--nord-5);
}

.checkbox-label {
  color: currentColor;
  cursor: pointer;
  user-select: none;
  line-height: var(--checkbox-size);
  word-break: normal;
  font-family: var(--font-family-ui);
  font-size: var(--text-sm);
}
