.collapsible-root {
  padding: 0.5rem;
  border: 1px solid transparent;
  border-radius: var(--rounded);
}

.collapsible-root[data-state="open"] {
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.collapsible-root > * + * {
  margin-top: 0.5rem;
}

.collapsible-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.collapsible-content > * + * {
  margin-top: 1rem;
}
