.collapsible {
  padding: 0.5rem;
  border: 1px solid transparent;
  border-radius: var(--rounded);

  &.active {
    border-color: var(--nord-4);
  }
}

.collapsible[data-state="open"] {
  border: 1px solid rgba(255, 255, 255, 0.05);

  &.active {
    border-color: var(--nord-6);
  }
}

.collapsible > * + * {
  margin-top: 0.5rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  cursor: pointer;
  user-select: none;
  font-size: var(--text-sm);
}

.content > * + * {
  margin-top: 0.5rem;
}

.actions {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  gap: 0.125rem;
}

.sub {
  font-size: var(--text-xs);
  color: color-mix(in srgb, var(--nord-3) 70%, var(--nord-4) 30%);
}
