.dropdown {
  padding: 0.5rem 0.25rem;
  border-radius: var(--rounded);
  background-color: var(--palette-point-five);
  box-shadow: var(--shadow-md);
  min-width: 15rem;
  border: 1px solid var(--palette-2);
}

.dropdown-button-row {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  & > * {
    display: inline-flex;
    gap: 0.375rem;
    text-align: left;
    justify-content: flex-start;
  }
}

.dropdown hr {
  height: 0;
  border-bottom-color: var(--palette-2);
}

.dropdown > * {
  text-align: left;
  justify-content: flex-start;
}

.section {
  padding-inline: 0.25rem;
}

.section > * + * {
  margin-top: 0.375rem;
}
