.field {
  border-radius: var(--rounded);
}

.field input,
.field select,
.field textarea {
  display: block;
}

.field.padded {
  padding: 0.25rem;
}

.field.full {
  & > :where(input, select, textarea) {
    width: 100%;
  }
}

.field.bordered {
  border: 1px solid var(--nord-1);
  padding: 0.5rem;
}

.field-help {
  margin-top: 0.25rem;
  max-width: 72ch;
  font-size: var(--text-xs);
}

.field-label {
  display: inline-block;
  margin-bottom: 0.25rem;
  font-size: var(--text-sm);
  font-weight: 400;
}
