.field {
  border: 1px solid var(--nord-3);
  padding: 1rem;
  border-radius: var(--rounded);
}

.field input,
.field select,
.field textarea {
  display: block;
}

.field-help {
  margin-top: 0.5rem;
  font-style: italic;
  max-width: 72ch;
}

.field:has(select) label {
  display: inline-block;
  margin-bottom: 0.25rem;
}
