.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.25);
  width: 100%;
  z-index: 2;
  overflow: auto;
  padding: 1rem;
  container-type: inline-size;

  &.center {
    display: grid;
    place-items: center;
  }
}

.inner {
  width: var(--modal-width);
  max-width: 100%;
  container-type: inline-size;
  margin-inline: auto;
}

.actions {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1rem;
  gap: 1rem;
}

.actions-row {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.actions.has-custom {
  justify-content: space-between;
}
