.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  z-index: 20;
  container-type: inline-size;
  padding-left: var(--scrollbar-padding);

  &.center {
    display: grid;
    place-items: center;
  }
}

:root[data-theme="light"] .modal {
  background: rgba(0, 0, 0, 0.5);
}

.inner {
  width: var(--modal-width);
  max-width: 100%;
  container-type: inline-size;
  margin: 1rem auto;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 1rem;
  gap: 1rem;
}

.actions-row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 1rem;
}

.actions.has-custom {
  justify-content: space-between;
}

.content {
  background: var(--palette-0);
  padding: 1rem;
  border-radius: var(--rounded-md);
  box-shadow: var(--shadow-md);
  border: 1px solid var(--palette-1);
}

.content-title {
  display: flex;
  gap: 0.25rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  font-size: var(--text-xl);
}

.content-footer {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
