.notice {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: rgba(255, 255, 255, 0.025);
  border-radius: var(--rounded);
  border: 1px solid var(--palette-4);
  padding: 0.5rem;
}

.notice.info {
  border-color: var(--nord-9);
}

.notice.info .notice-icon {
  color: var(--nord-9);
}
