.progress {
  height: 0.375rem;
  background: var(--palette-1);
  position: relative;
  border-radius: var(--rounded);
  overflow: hidden;
}

.progress-value {
  transform: translateX(calc(-1 * (100% - var(--progress-value))));
  width: 100%;
  background: var(--nord-9);
  position: absolute;
  height: 100%;
  z-index: 2;
  transition: transform 0.25s linear;
}

.progress.invalid .progress-value {
  background: var(--nord-11);
}
