.field-label {
  font-weight: 500;
}

.field > * + * {
  margin-top: 0.75rem;
}

.field-limits {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.25rem;
}

.field-limits input[type="text"] {
  line-height: 1;
  width: calc(2ch + 1rem);
  text-align: center;
  padding: 0.125rem;

  &:first-child {
    margin-left: -0.125rem;
  }

  &:last-child {
    margin-right: -0.125rem;
  }
}
