.field > * + * {
  margin-top: 0.5rem;
}

.label {
  font-size: var(--text-sm);
}

.limits {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.25rem;
}

.limits input[type="text"] {
  line-height: 1;
  width: calc(2ch + 0.5rem);
  text-align: center;
  padding: 0.125rem 0;

  &:first-child {
    margin-left: -0.125rem;
  }

  &:last-child {
    margin-right: -0.125rem;
  }
}
