.scroller {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  overflow: hidden;
  --scrollbar-size: 10px;
}

.viewport {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

/** Temp fix: https://github.com/radix-ui/primitives/pull/2945 */
.viewport > div[style] {
  display: flex !important;
  flex-direction: column !important;
  align-items: stretch !important;
}

.scrollbar {
  display: flex;
  user-select: none;
  touch-action: none;
  padding: 2px;
  background: rgba(0, 0, 0, 0.1);
  z-index: 4;
  transition: background 160ms ease-out;
}

.scrollbar:hover {
  background: rgba(0, 0, 0, 0.2);
}

.scrollbar[data-orientation="vertical"] {
  width: var(--scrollbar-size);
}

.scrollbar-thumb {
  flex: 1;
  background: var(--palette-5);
  border-radius: var(--scrollbar-size);
  position: relative;
  opacity: 0.5;
}

.scrollbar:hover .scrollbar-thumb {
  opacity: 1;
}

.scrollbar-thumb::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
