.slider {
  --slider-height: 1.25rem;
  --track-height: 0.125rem;
  --color-track: var(--color-input-background);
  --color-range: var(--color-accent);
  --thumb-size: 1.25rem;

  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
  width: 100%;
  height: var(--slider-height);
}

.slider-track {
  background-color: var(--color-track);
  position: relative;
  flex-grow: 1;
  border-radius: 9999px;
  height: var(--track-height);
}

.slider-range {
  position: absolute;
  background-color: var(--color-range);
  border-radius: 50%;
  height: 100%;
}

.slider-thumb {
  display: block;
  width: var(--thumb-size);
  height: var(--thumb-size);
  background-color: var(--color-accent);
  border-radius: 50%;
  box-shadow: 0 0 0 0.125rem var(--color-background);
  cursor: pointer;
}

.slider-thumb:hover {
  background-color: var(--color-input-text-hover);
}

.slider-thumb:focus {
  outline: 0.125rem solid var(--color-input-text-hover);
  outline-offset: 0.125rem;
}
