.slider {
  --slider-height: 1.25rem;
  --track-height: 0.25rem;
  --color-track: var(--nord-3);
  --color-range: var(--nord-5);
  --thumb-size: 1.25rem;

  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
  width: 100%;
  height: var(--slider-height);
}

.slider-track {
  background-color: var(--color-track);
  position: relative;
  flex-grow: 1;
  border-radius: 9999px;
  height: var(--track-height);
}

.slider-range {
  position: absolute;
  background-color: var(--color-range);
  border-radius: 50%;
  height: 100%;
}

.slider-thumb {
  display: block;
  width: var(--thumb-size);
  height: var(--thumb-size);
  background-color: var(--nord-5);
  border-radius: 50%;
  box-shadow: 0 0 0 0.125rem var(--nord-0);
  cursor: pointer;
}

.slider-thumb:hover {
  background-color: var(--nord-6);
}

.slider-thumb:focus-visible {
  outline: 0.125rem solid var(--nord-5);
  outline-offset: 0.125rem;
}
