.items {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.375rem;
}

.item {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.375rem 0.25rem;
  border: 1px solid transparent;
  border-radius: var(--rounded);
}

.item:hover {
  background: var(--nord-point-five);
}

.item.active {
  border-color: var(--nord-3);
  background: var(--nord-point-five);
  border: 1px solid var(--nord-1);
}

.item-content {
  flex: 1 1 auto;
}

.item-actions {
  display: inline-flex;
  gap: 0.125rem;
  flex: 0 0 auto;
}

.item-handle-button {
  cursor: grab;

  &.static {
    pointer-events: none;
  }

  &:active {
    color: currentColor;
  }
}

.overlay > * {
  background: var(--nord-point-five);
  cursor: grabbing;
  border-radius: var(--rounded);
}
