.list {
  display: flex;
  flex-flow: row wrap;
  border-bottom: 1px solid var(--palette-1);
}

.list > * {
  flex: 1 1 auto;
  text-align: left;
}

.trigger {
  container-type: inline-size;
  border-radius: 0;
  border-bottom: 0.125rem solid transparent;
  min-height: 1rem;
}

.trigger span {
  @container (max-width: 15ch) {
    display: inline-block;
    padding: 1.5rem;
    display: none;
  }
}

.trigger[data-state="active"] {
  background-color: var(--palette-1);
  border-bottom: 0.125rem solid var(--accent-color-dark, var(--nord-10));
}

.trigger[data-state="active"]:hover,
.trigger[data-state="active"]:focus {
  border-color: var(--accent-color, var(--nord-10));
}

.content.mounted {
  display: none;

  &[data-state="active"] {
    display: block;
  }
}
