.list {
  display: flex;
  flex-flow: row wrap;
  gap: 0.25rem;
  padding: 1px 1px 0;
  border-bottom: 1px solid var(--nord-point-five);
}

.list > * {
  flex: 1 1 calc(100% / var(--length) - 0.5rem);
}

.trigger {
  border-radius: 0;
  border-bottom: 0.125rem solid transparent;
}

.trigger[data-state="active"] {
  background-color: var(--nord-point-five);
  border-bottom: 0.125rem solid var(--accent-color, var(--nord-10));
}

.trigger[data-state="active"]:hover,
.trigger[data-state="active"]:focus {
  border-color: var(--accent-color, var(--nord-10));
}
