.list {
  display: flex;
  flex-flow: row wrap;
  border-bottom: 1px solid var(--palette-1);
}

.list > * {
  flex: 1 1 auto;
  text-align: left;
}

.trigger {
  container-type: inline-size;
  border-radius: 0;
  border-bottom: 0.125rem solid transparent;
  min-height: 1rem;
  padding: 0.375rem 0.125rem;
}

.trigger.icon-only {
  flex: 0 0 auto;
  min-width: 3em;
}

.trigger svg,
.trigger .icon {
  flex: 0 0 auto;
}

.trigger span {
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
}

.trigger svg + span {
  @container (max-width: 17ch) {
    display: inline-block;
    display: none;
  }
}

.trigger[data-state="active"] {
  background-color: var(--palette-point-five);
  border-bottom: 0.125rem solid var(--accent-color-dark, var(--nord-10));
}

.trigger[data-state="active"]:hover,
.trigger[data-state="active"]:focus-visible {
  border-color: var(--accent-color, var(--nord-10));
  z-index: 2;
}

.content.mounted {
  display: none;

  &[data-state="active"] {
    display: block;
  }
}
