.toggle-group {
  display: inline-flex;
  color: var(--color-accent);
  justify-content: center;
}

.toggle-group-item {
  border-style: solid;
  border-color: var(--color-border);
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-right-width: 1px;
  border-left-width: 0;
  line-height: 1;
  padding: 0.5rem 0.5rem;
  user-select: none;

  &:first-child {
    border-left-width: 1px;
    border-radius: var(--rounded-xl) 0 0 var(--rounded-xl);
  }

  &:last-child {
    border-radius: 0 var(--rounded-xl) var(--rounded-xl) 0;
  }

  &[data-state="on"] {
    color: var(--color-focus);
    background: var(--color-border);
  }

  &:focus {
    outline: 0.125rem solid var(--color-focus);
    z-index: 2;
  }
}

.toggle-group.is-icons .toggle-group-item svg {
  width: 1.5em;
  height: 1.5em;
  fill: currentColor;
}

.toggle-group.is-full {
  display: flex;
  width: 100%;
}

.toggle-group.is-full .toggle-group-item {
  flex: 1 1 auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.toggle-group.is-icons .toggle-group-item {
  padding: 0.25rem 0.5rem;
}
